
// Sidebar Nav Widget
// -----------------------------------------------------------------------------

.widget-sc-widget-sidebar-nav {
	.menu,
	.sub-menu {
		font-family: $header-font-family;
		list-style: none;
		a {
			display: block;
			position: relative;
			&:hover {
				text-decoration: none;
			}
		}
  }
  .menu-item {
    a:hover {
      text-decoration: underline;
    }
  }
	.menu-item[data-level='2'] {
		border-bottom: 1px solid $secondary-color-40;
		&.expanded-menu-item {
      padding: 0 0 5px 0;
			> a {
				&::after {
					right: 3px;
					transform: rotate(90deg);
				}
			}
		}
		&.current-menu-item {
			> a {
				color: $secondary-color;
				cursor: default;
			}
		}
		> a {
			color: $primary-color;
			padding: 10px 0;
			font-weight: 700;
			&::after {
				@include arrow('right', $secondary-color-40, 6px);
				position: absolute;
				right: 0;
				top: 16px;
			}
    }
    &:not(.has-children) {
      > a {
        &::after {
          display: none;
        }
      }
    }
	}
	.menu-item[data-level='3'] {
		&.current-menu-item {
			> a {
				font-weight: 700;
			}
		}
		> a {
			border: 0;
			color: $core-font-color;
			font-weight: 400;
			padding: 5px 0;
		}
	}
	.menu-item[data-level='4'] {
		&.current-menu-item {
			> a {
				font-weight: 700;
			}
		}
		> a {
			color: $core-font-color;
			font-weight: 400;
			padding: 5px 0 5px 15px;
			&::before {
        content: '-';
        display: inline-block;
				margin: 0 5px 0 0;
			}
		}
		.sub-menu {
			display: none;
		}
	}
}