<h4>1.0.2</h4>
<ul>
  <li>Updated text module to use global responsive table JavaScript instead of including its own.</li>
</ul>
<h4>1.0.1</h4>
<ul>
  <li>Incremented version in order to test updated mechansim</li>
</ul>
<h4>1.0.0</h4>
<ul>
  <li>Initial Release</li>
</ul>