<h4>1.1.2</h4>
<ul>
  <li>Fix for PHP Warning in SC_Search.</li>
</ul>
<h4>1.1.1</h4>
<ul>
  <li>Pass get_the_id() to new SC_Relevanssi_Updater()</li>
</ul>
<h4>1.1.0</h4>
<ul>
  <li>Added snippet feature.</li>
</ul>
<h4>1.0.8</h4>
<ul>
  <li>Removed http-equiv attribute and duplicate meta charset.</li>
  <li>Added hourly cron to delete gravity form submissions that are older than 30 days.</li>
  <li>Fixed bug in sc_get_archive_title function that caused the title to print instead of return.</li>
</ul>
<h4>1.0.7</h4>
<ul>
  <li>Fixed missing argument warning for SC_Search_Updater constructor.</li>
  <li>Added register_checkbox function for the customizer.</li>
</ul>
<h4>1.0.6</h4>
<ul>
  <li>Added SC_Relevanssi_Updater class for auto configuring Relevanssi on a cron.</li>
  <li>Fixed issue with the module editor that caused a default text module to not be added on new pages.</li>
</ul>
<h4>1.0.5</h4>
<ul>
  <li>Added SC_Search for generating plain text versions of modular pages.</li>
</ul>
<h4>1.0.4</h4>
<ul>
  <li>Updated SC_Customizer register_text, register_textarea, and register_checkbox methods to accept option arrays for
    both the setting and control.</li>
</ul>
<h4>1.0.3</h4>
<ul>
  <li>Updated to throw a 404 on all attachment pages.</li>
</ul>
<h4>1.0.2</h4>
<ul>
  <li>Updated text module to use global responsive table JavaScript instead of including its own.</li>
</ul>
<h4>1.0.1</h4>
<ul>
  <li>Incremented version in order to test updated mechansim</li>
</ul>
<h4>1.0.0</h4>
<ul>
  <li>Initial Release</li>
</ul>