<h4>1.0.4</h4>
<ul>
  <li>Updated SC_Customizer register_text, register_textarea, and register_checkbox methods to accept option arrays for both the setting and control.</li>
</ul>
<h4>1.0.3</h4>
<ul>
  <li>Updated to throw a 404 on all attachment pages.</li>
</ul>
<h4>1.0.2</h4>
<ul>
  <li>Updated text module to use global responsive table JavaScript instead of including its own.</li>
</ul>
<h4>1.0.1</h4>
<ul>
  <li>Incremented version in order to test updated mechansim</li>
</ul>
<h4>1.0.0</h4>
<ul>
  <li>Initial Release</li>
</ul>