
// Base Colors
// ====================================================
// ====================================================

$primary-color: #351A52;
$primary-color-95: #3F255A;
$primary-color-90: #493063;
$primary-color-85: #533C6B;
$primary-color-80: #5D4774;
$primary-color-75: #67537D;
$primary-color-70: #715E85;
$primary-color-65: #7B6A8E;
$primary-color-60: #857597;
$primary-color-55: #8F819F;
$primary-color-50: #9A8CA8;
$primary-color-45: #A497B1;
$primary-color-40: #AEA3B9;
$primary-color-35: #B8AEC2;
$primary-color-30: #C2BACB;
$primary-color-25: #CCC5D3;
$primary-color-20: #D6D1DC;
$primary-color-15: #E0DCE5;
$primary-color-10: #EAE8ED;
$primary-color-5: #F4F3F6;

$primary-dark-color-100: #351A52;
$primary-dark-color-95: #33194E;
$primary-dark-color-90: #30184A;
$primary-dark-color-85: #2E1746;
$primary-dark-color-80: #2B1542;
$primary-dark-color-75: #28143E;
$primary-dark-color-70: #26133A;
$primary-dark-color-65: #231136;
$primary-dark-color-60: #201032;
$primary-dark-color-55: #1E0F2E;
$primary-dark-color-50: #1B0D29;
$primary-dark-color-45: #180C25;
$primary-dark-color-40: #160B21;
$primary-dark-color-35: #130A1D;
$primary-dark-color-30: #100819;
$primary-dark-color-25: #0E0715;
$primary-dark-color-20: #0B0611;
$primary-dark-color-15: #08040D;
$primary-dark-color-10: #060309;
$primary-dark-color-5: #030205;

$accent-color: #BE3932;
$accent-color-95: #C1423C;
$accent-color-90: #C44C46;
$accent-color-85: #C75650;
$accent-color-80: #CB605B;
$accent-color-75: #CE6A65;
$accent-color-70: #D1746F;
$accent-color-65: #D47E79;
$accent-color-60: #D88884;
$accent-color-55: #DB928E;
$accent-color-50: #DE9C98;
$accent-color-45: #E1A5A2;
$accent-color-40: #E5AFAC;
$accent-color-35: #E8B9B7;
$accent-color-30: #EBC3C1;
$accent-color-25: #EECDCB;
$accent-color-20: #F2D7D6;
$accent-color-15: #F5E1E0;
$accent-color-10: #F8EBEA;
$accent-color-5: #FBF5F4;

$alt-accent-color: #F4504C;
$alt-accent-color-95: #F45854;
$alt-accent-color-90: #F5615D;
$alt-accent-color-85: #F56A66;
$alt-accent-color-80: #F6736F;
$alt-accent-color-75: #F67B78;
$alt-accent-color-70: #F78481;
$alt-accent-color-65: #F78D8A;
$alt-accent-color-60: #F89693;
$alt-accent-color-55: #F89E9C;
$alt-accent-color-50: #F9A7A5;
$alt-accent-color-45: #FAB0AE;
$alt-accent-color-40: #FAB9B7;
$alt-accent-color-35: #FBC1C0;
$alt-accent-color-30: #FBCAC9;
$alt-accent-color-25: #FCD3D2;
$alt-accent-color-20: #FCDCDB;
$alt-accent-color-15: #FDE4E4;
$alt-accent-color-10: #FDEDED;
$alt-accent-color-5: #FEF6F6;

$secondary-color: #33333C;
$secondary-color-95: #3D3D45;
$secondary-color-90: #47474F;
$secondary-color-85: #515159;
$secondary-color-80: #5B5B63;
$secondary-color-75: #66666C;
$secondary-color-70: #707076;
$secondary-color-65: #7A7A80;
$secondary-color-60: #84848A;
$secondary-color-55: #8E8E93;
$secondary-color-50: #99999D;
$secondary-color-45: #A3A3A7;
$secondary-color-40: #ADADB1;
$secondary-color-35: #B7B7BA;
$secondary-color-30: #C1C1C4;
$secondary-color-25: #CCCCCE;
$secondary-color-20: #D6D6D8;
$secondary-color-15: #E0E0E1;
$secondary-color-10: #EAEAEB;
$secondary-color-5: #F4F4F5;

$error-color: #AA1308; //#790000; 40507c

// Base Typography
// ====================================================
// ====================================================

$core-font-family:   'Lato', 'Open Sans', helvetica, arial sans-serif;
$core-font-color:    $secondary-color;

$header-font-family: 'Encode Sans', 'Open Sans', helvetica, arial, sans-serif;
$header-font-color:  $secondary-color;

$header-alt-font-family: 'Rokkitt', helvetica, arial, sans-serif;
$header-alt-font-color:  $secondary-color;

$link-color:       $accent-color;
$link-color-hover: $accent-color;

// Buttons
// ====================================================
// ====================================================

$button-font-color                       : #fff;
$button-border-color                     : $primary-color;
$button-background-color                 : $primary-color;
$button-font-color-hover                 : #fff;
$button-border-color-hover               : $primary-color;
$button-background-color-hover           : $primary-color;

$button-secondary-font-color             : #fff;
$button-secondary-border-color           : $accent-color;
$button-secondary-background-color       : $accent-color;
$button-secondary-font-color-hover       : #fff;
$button-secondary-border-color-hover     : $accent-color;
$button-secondary-background-color-hover : $accent-color;

// Responsive Tables
// ====================================================
// ====================================================

$thead-font-color:           $primary-dark-color-60;
$thead-font-family:          $core-font-family;
$thead-border-color:         $secondary-color-25;
$thead-background-color:     $primary-color-15;
$thead-alt-background-color: #fff;

$tbody-font-color:           $primary-color;
$tbody-font-family:          $core-font-family;
$tbody-border-color:         $secondary-color-25;
$tbody-background-color:     #fff;
$tbody-alt-background-color: #fff;

// Tabs Module
// ====================================================
// ====================================================

$tab-label-background-color:          $secondary-color-10;
$tab-label-font-color:                $secondary-color-90;
$tab-label-border-color:              $secondary-color-30;
$tab-label-selected-background-color: $primary-color-15;
$tab-label-selected-font-color:       $primary-dark-color-60;
$tab-label-selected-border-color:     $secondary-color-30;
$tab-panel-background-color:          #fff;
$tab-panel-font-color:                inherit;
$tab-panel-border-color:              $secondary-color-30;

// WordPress Admin Bar
// ====================================================
// ====================================================

$wp-admin-bar-desktop-height: 32px;
$wp-admin-bar-mobile-height:  46px;
