
// Default Widget
// -----------------------------------------------------------------------------

.sc-widget {
	margin: 0 0 40px 0;
	&-title {
		margin: 0 0 10px 0;
	}
	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&.widget_categories,
	&.widget_archive {
		li {
			padding: 0 0 0 15px;
			position: relative;
			&::before {
				@include arrow('right', $alt-accent-color, 5px);
				left: 0;
				position: absolute;
				top: 6px;
			}
		}
	}
}
