// Hover Effects
// -----------------------------------------------------------------------------

button,
input[type="submit"],
a {
	transition: width 250ms ease, background-color 250ms ease,
		border-color 250ms ease, color 250ms ease,
		padding 250ms ease, margin 250ms ease;
	svg {
		* {
			transition: fill 250ms ease, stroke 250ms ease;
		}
	}
}

// Modules
// -----------------------------------------------------------------------------

.sc-force-fluid {
	margin-right: -15px;
	margin-left: -15px;
	@media #{$sm_up} {
		margin-right: calc(0px - ((100vw - 750px + 30px) / 2));
		margin-left: calc(0px - ((100vw - 750px + 30px) / 2));
	}
	@media #{$md_up} {
		margin-right: calc(0px - ((100vw - 970px + 30px) / 2));
		margin-left: calc(0px - ((100vw - 970px + 30px) / 2));
	}
	@media #{$lg_up} {
		margin-right: calc(0px - ((100vw - 1170px + 30px) / 2));
		margin-left: calc(0px - ((100vw - 1170px + 30px) / 2));
	}
}

//

// Buttons
// -----------------------------------------------------------------------------

.button {
	background: $button-background-color;
	border: 2px solid $button-border-color;
	border-radius: 100px;
	color: $button-font-color;
	display: inline-block;
	font-family: $header-font-family;
	font-size: 12px;
	font-weight: 700;
	@include ps-letter-tracking(35);
	line-height: 14px;
	margin: 0 0 20px 0;
	padding: 12px 45px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	&:active,
	&:hover,
	&:focus {
		background: $button-background-color-hover;
		border-color: $button-border-color-hover;
		box-shadow: 0 0 0 2px $primary-color-50 !important;
		color: $button-font-color-hover;
		text-decoration: none;
	}
	&.button-secondary {
		background: $button-secondary-background-color;
		border-color: $button-secondary-border-color;
		color: $button-secondary-font-color;
		&:active,
		&:hover,
		&:focus {
			background: $button-secondary-background-color-hover;
			border-color: $button-secondary-border-color-hover;
			box-shadow: 0 0 0 2px $accent-color-50 !important;
			color: $button-secondary-font-color-hover;
		}
	}
}

// Responsive Tables
// -----------------------------------------------------------------------------

.sc-responsive-table {
	border-collapse: separate;
	border-spacing: 0;
	margin: 0 0 20px 0;
	padding: 0;
	table-layout: fixed;
	width: 100%;
	thead {
		display: none;
		@media #{$sm-up} {
			display: table-header-group;
		}
		td,
		th {
			background: $thead-background-color;
			border: 1px solid $thead-border-color;
			border-right: 0;
			color: $thead-font-color;
			font-family: $thead-font-color;
			font-size: 16px;
			font-weight: bold;
			padding-left: 5px;
			position: relative;
			@media #{$sm-up} {
				padding: 10px 20px;
				&:last-child {
					border-right: 1px solid $thead-border-color;
				}
			}
		}
	}
	tbody {
		tr {
			display: block;
			@media #{$sm-up} {
				display: table-row;
				padding: 0;
			}
			&:nth-child(even) {
				td {
					background: $tbody-alt-background-color;
					&::before {
						background: $thead-alt-background-color;
					}
				}
			}
			&:nth-child(odd) {
				td {
					background: $tbody-background-color;
					&::before {
						background: $thead-background-color;
					}
				}
			}
		}
		td {
			@include clearfix;
			border: 0;
			display: flex;
			font-size: 14px;
			padding: 0;
			text-align: left;
			vertical-align: top;
			width: 100%;
			@media #{$sm-up} {
				background: $tbody-background-color;
				border: 1px solid $tbody-border-color;
				border-right: 0;
				border-top: 0;
				display: table-cell;
				font-size: 15px;
				padding: 10px 20px;
				text-align: left;
				&:last-child {
					border-right: 1px solid $tbody-border-color;
				}
			}
			&:before {
				color: $thead-font-color;
				content: attr(data-label);
				display: block;
				float: left;
				font-family: $thead-font-color;
				font-size: 13px;
				font-weight: bold;
				overflow-wrap: break-word;
				padding: 5px 10px;
				text-transform: uppercase;
				width: 40%;
				word-break: break-all;
				@media #{$xs-up} {
					width: 30%;
				}
				@media #{$sm-up} {
					display: none;
				}
			}
			.sc-responsive-table-cell {
				display: block;
				float: left;
				padding: 5px 10px;
				width: 60%;
				@media #{$xs-up} {
					width: 70%;
				}
				@media #{$sm-up} {
					float: none;
					padding: 0;
					width: auto;
				}
			}
		}
	}
}

// Patient Satisfactory Table
// -----------------------------------------------------------------------------

.satisfactory {
	border: 1px solid $thead-border-color;
	@media #{$sm-up} {
		border: none;
	}
	.star {
		padding-top: 14px;
		line-height: 0.3em;
		font-size: 1.5em !important;
		@media #{$md-up} {
		padding: 0;	
		line-height: 0.7em;
		font-size: 2em !important;
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid $thead-border-color;
			&:nth-child(even) {
				td {
					background: $tbody-alt-background-color;
					&::before {
						background: $thead-background-color;
					}
				}
			}
			&:nth-child(odd) {
				td {
					background: $tbody-background-color;
					&::before {
						background: $thead-background-color;
					}
				}
			}
		}
		td {
			@media #{$md-up} {
				padding: 20px 20px 0px 20px;
			}
			&[data-label="Rating"] .sc-responsive-table-cell {
				padding-bottom: 10px;
				@media #{$sm-up} {
					padding-bottom: 0;
				}
			}
			&[data-label="Statement"] .sc-responsive-table-cell {
				padding-top: 17px;
				@media #{$sm-up} {
					padding-top: 0;
				}
			}
			&:before {
				width: 36%;
				padding: 16px 10px 0px 10px;
				line-height: 3em;
				@media #{$xs-up} {
					width: 30%;
				}
				@media #{$sm-up} {
					display: none;
				}
			}
			.sc-responsive-table-cell {
				width: 64%;
    			line-height: 1.2em;
    			padding: 16px 10px 0px 10px;
    			font-size: 16px;
				@media #{$xs-up} {
					width: 70%;
				}
				@media #{$sm-up} {
					float: none;
					padding: 0;
					width: auto;
				}
			}
		}
	}
}

// Arrow Link
// -----------------------------------------------------------------------------

.arrow-link {
	color: $accent-color;
	display: inline-block;
	font-family: $header-font-family;
	font-size: 12px;
	font-weight: 700;
	@include ps-letter-tracking(35);
	line-height: 14px;
	padding: 0 13px 0 0;
	position: relative;
	text-transform: uppercase;
	&::before,
	&::after {
		background: $accent-color;
		content: "";
		display: block;
		height: 2px;
		position: absolute;
		right: 0;
		width: 6px;
	}
	&::before {
		top: calc(50% - 3px);
		transform: rotate(45deg);
	}
	&::after {
		top: calc(50% + 1px);
		transform: rotate(-45deg);
	}
	&-left {
		padding: 0 0 0 13px;
		&::before {
			left: 0;
			top: calc(50% - 3px);
			transform: rotate(-45deg);
		}
		&::after {
			left: 0;
			top: calc(50% + 1px);
			transform: rotate(45deg);
		}
	}
}

// WP Media Alignment
// -----------------------------------------------------------------------------

.alignnone {
	padding: 0;
}

.alignleft {
	float: left;
	margin: 0 40px 40px 0;
	padding: 0;
}

.aligncenter {
	display: block;
	margin: 0 auto 40px auto;
	padding: 0;
}

.alignright {
	float: right;
	margin: 0 0 40px 40px;
	padding: 0;
}

// Search Form
// ----------------------------------------------------------------------------
.search-form {
	.search-input {
		width: 100%;
		margin-bottom: 20px;
		padding: 10px 5px;
		@media #{$md_up} {
			width: 50%;
		}
	}
}

// Sitemap Page
// ----------------------------------------------------------------------------

.simple-sitemap-wrap h3 {
	font-family: $header-font-family;

	@media #{$md-up} {
		font-size: 46px;
		line-height: 56px;
	}
}