@charset "UTF-8";

// Slick icon entity codes output the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-arrow-color: white !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;


$slick-dot-background-color:#fff;
$slick-dot-background-color-active:$primary-color;
$slick-dot-background-color-hover:$secondary-color;
$slick-dot-border-color:#fff;
$slick-dot-border-color-active:#fff;
$slick-dot-border-color-hover:#fff;
$slick-dot-border-width:2px;
$slick-dot-click-size:40px;
$slick-dot-visible-size:20px;

/* Slider */

.slick-list {
	.slick-loading & {
		//background:#fff url('assets/images/ajax-loader.gif') center center no-repeat;
	}
}

.slick-slide {
	outline:none;
}

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	&:hover, &:focus {
		background: transparent;
		color: transparent;
		&:before {
			opacity: $slick-opacity-on-hover;
		}
	}
	&.slick-disabled:before {
		opacity: $slick-opacity-not-active;
	}
	&:before {
		font-size:0;
		line-height: 1;
		color: $slick-arrow-color;
		opacity: $slick-opacity-default;
	}
}

.slick-prev {
	left:-25px;
	[dir="rtl"] & {
		left:auto;
		right:-25px;
	}
	&:before {
		content:$slick-prev-character;
		[dir="rtl"] & {
			content:$slick-next-character;
		}
	}
}

.slick-next {
	right:-25px;
	[dir="rtl"] & {
		left:-25px;
		right:auto;
	}
	&:before {
		content:$slick-next-character;
		[dir="rtl"] & {
			content:$slick-prev-character;
		}
	}
}

/* Dots */

.slick-dots {
	bottom:0px;
	display:block;
	list-style:none;
	margin:0;
	padding:0 0 20px 0;
	position:absolute;
	text-align:center;
	width:100%;
	li {
		cursor:pointer;
		display:inline-block;
		margin:0;
		padding:0;
		position:relative;
		button {
			align-items:center;
			background:transparent;
			border:0;
			color:transparent;
			cursor:pointer;
			display:flex;
			font-size:0px;
			height:$slick-dot-click-size;
			justify-content:center;
			line-height:0px;
			padding:0;
			width:$slick-dot-click-size;
			&:hover, 
			&:focus {
				&:before {
					background:$slick-dot-background-color-hover;
					border-color:$slick-dot-border-color-hover;
				}
			}
			&:before {
				background:$slick-dot-background-color;
				border:$slick-dot-border-width solid $slick-dot-border-color;
				border-radius:50%;
				content:'';
				display:block;
				font-size:0;
				height:$slick-dot-visible-size;
				width:$slick-dot-visible-size;
				transition:background 500ms ease;
			}
		}
		&.slick-active button:before {
			background:$slick-dot-background-color-active;
			border-color:$slick-dot-border-color-active;
		}
	}
}
