
// @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
// @import url('https://fonts.googleapis.com/css?family=Encode+Sans:300,400,500,700');
// @import url('https://fonts.googleapis.com/css?family=Rokkitt:500');

html body {
  background:#fff;
  color:$core-font-color;
  font-family:$core-font-family;
  font-size:16px;
  @include ps-letter-tracking(25);
  line-height:25px;
  text-align:left;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:$header-font-color;
  font-family:$header-font-family;
  margin:0 0 20px 0;
  a {
    color:$header-font-color;
  }
}

h1 {
  font-size:42px;
  font-weight:700;
  @include ps-letter-tracking(0);
  line-height:50px;
  @media #{$md-up} {
    font-size:52px;
    line-height:60px;
  }
}

h2 {
  font-size:38px;
  font-weight:400;
  @include ps-letter-tracking(10);
  line-height:42px;
  @media #{$md-up} {
    font-size:46px;
    line-height:56px;
  }
}

h3 {
  color:$primary-color;
  font-size:26px;
  font-weight:400;
  @include ps-letter-tracking(0);
  line-height:36px;
}

h4 {
  font-family:$header-alt-font-family;
  font-size:26px;
  font-weight:400;
  @include ps-letter-tracking(10);
  line-height:30px;
}

h5 {
  font-size:16px;
  font-weight:700;
  @include ps-letter-tracking(30);
  line-height:24px;
}

h6 {
  font-size:16px;
  font-weight:400;
  @include ps-letter-tracking(30);
  line-height:20px;
}

p {
  margin:0 0 20px 0;
}

a {
  color:$link-color;
  font-weight:700;
  text-decoration:none;
  &:hover {
    color:$link-color-hover;
    text-decoration:underline;
  }
}

small {
  display:inherit;
  font-size:11px;
  letter-spacing:0;
  line-height:16px;
}

.sc-wysiwyg {
  img {
    @include img-responsive();
  }
  ul {
    list-style:none;
    margin:0 0 20px 0;
    padding:0;
    li {
      margin:0 0 10px 0;
      padding:0 0 0 25px;
      position:relative;
      &::before {
        background:$primary-color-80;
        border-radius:50%;
        content:'';
        display:block;
        height:6px;
        left:0;
        position:absolute;
        top:11px;
        width:6px;
      }
    }
    ul {
      li {
        &::before {
          background: #fff;
          border: 1px solid $primary-color-80;
        }
      }
    }
    ul,
    ol {
      margin:10px 0 0 0;
    }
  }
  ol { 
    counter-reset:item;
    list-style:none;
    margin:0 0 20px 0;
    padding:0;
    li {
      margin:0 0 10px 0;
      padding:0 0 0 25px;
      position:relative;
      &::before {    
        content:counter(item) '. ';
        counter-increment:item;
        color:$primary-color-80;
        display:block;
        left:0;
        position:absolute;
        top:0;
      }
    }
    ul,
    ol {
      margin:10px 0 0 0;
    }
  }
  blockquote {
    background:$primary-color-10;
    border:0;
    color:$primary-color;
    font-family:$header-font-family;
    font-size:20px;
    @include ps-letter-tracking(10);
    line-height:30px;
    padding:60px 30px;
    text-align:center;
    strong {
      color:$core-font-color;
      font-size:16px;
      font-weight:700;
      @include ps-letter-tracking(30);
      line-height:24px;
    }
  }
}
