
// Posts
// -----------------------------------------------------------------------------

.post {
	.blog &,
	.archive &,
	.category &,
	.search & {
		border-bottom: 1px solid $secondary-color-50;
		margin: 0 0 40px 0;
		padding: 0 0 40px 0;
	}
}

.post-featured-image {
	img {
		display: block;
		height: auto;
		max-width: 100%;
	}
}

.post-title {
	h2 {
		margin: 0 0 5px 0;
		a {
			color: $primary-color;
			font-weight: 400;
		}
	}
}

.post-date {
	margin: 0 0 20px 0;
	span {
		background: $primary-color-15;
		color: $secondary-color;
		display: inline-block;
		font-size: 12px;
		font-weight: 700;
		@include ps-letter-tracking(35);
		line-height: 12px;
		padding: 5px;
		text-transform: uppercase;
	}
}

.post-sharethis {
	margin: 0 0 60px 0;
}

.post-navigation {
	@include clearfix;
	padding: 0 0 $content-mobile-padding 0;
	@media #{$md-up} {
		padding: 0 0 $content-desktop-padding 0;
	}
	.blog &,
	.archive &,
	.category &,
	.search & {
		a {
			background: $primary-color;
			border: 1px solid $secondary-color-50;
			color: #fff;
			display: block;
			float: left;
			width: 125px;
			padding: 10px 0;
			text-align: center;
			&:hover {
				background: #fff;
				color: $secondary-color;
			}
		}
	}
	.single & {
		a {
			display: inline-block;
			max-width: 45%;
			text-transform: none;
			&[rel='prev'] {
				float: left;
				&::before {
					content: '‹';
					display: inline-block;
					padding: 0 5px 0 0;
				}
			}
			&[rel='next'] {
				float: right;
				text-align: right;
				&::after {
					content: '›';
					display: inline-block;
					padding: 0 0 0 5px;
				}
			}
		}
	}
}
