<h4>1.4.1</h4>
<ul>
	<li>Fix for Facebook/Twitter Feeds showing when not enabled.</li>
</ul>
<h4>1.4.0</h4>
<ul>
	<li>Enabled Support For Opening Links in new window in Sidebar Nav that is based on Header Menu.</li>
</ul>
<h4>1.3.9</h4>
<ul>
	<li>Fixed a bug that broke the Patient Stories navigation the image was aligned right</li>
</ul>
<h4>1.3.8</h4>
<ul>
	<li>Removed additional colon from InfoWindow.</li>
</ul>
<h4>1.3.7</h4>
<ul>
  <li>Extended .clearfix class to Tab Panels, allowing for floated elements within</li>
  <li>Modified Sitemap Shortcode title styling to match the style we previously had, after release 3.3</li>
</ul>
<h4>1.3.6</h4>
<ul>
  <li>Added toggle to each location to enable display of the location below the map.</li>
  <li>Added toggle to Directions link in tooltip to enable/disable.</li>
  <li>Added textboxes for CTA Text and CTA URL for custom tooltip CTA. </li>
</ul>
<h4>1.3.5</h4>
<ul>
  <li>Removed Deprecated Tracking Field in WordPress Customizer. Phone tracking is now handled using Kirki.</li>
  <li>Added InfoWindow to Location module. InfoWindow will appear when map pin is clicked, if it is enabled. User has ablity to enable/disable by location.</li>
</ul>
<h4>1.3.4</h4>
<ul>
  <li>Fix for YoTrack swap phones firing even if no phone is populated</li>
  <li>Add in repeater for multiple YoTrack CID and phone number swapping support using Kirki Plugin.</li>
</ul>
<h4>1.3.3</h4>
<ul>
  <li>Updated stories module to have a max of 6 stories</li>
  <li>Update stories module styles so that slider dots fit on one line in mobile</li>
  <li>Fix blog title to read from single_blog_title() because it was outputting the title of the first post</li>
  <li>Updated blog title to be correctly handled on Date/Category archive templates</li>
</ul>
<h4>1.3.2</h4>
<ul>
  <li>Updated search page form input title.</li>
  <li>Fixed customizer color overrides for the hero module.</li>
</ul>
<h4>1.3.1</h4>
<ul>
  <li>Updated YoTrack corporate short name.</li>
  <li>Improved stories module image handling.</li>
</ul>
<h4>1.3.0</h4>
<ul>
  <li>Added full blog functionality.</li>
  <li>Adjusted search result styles to match blog archive styles.</li>
  <li>Added ShareThis functionality.</li>
  <li>Added YoTrack functionality.</li>
  <li>Fixed search page bug where an ID was not passed to relevanssi_get_the_title function.</li>
</ul>
<h4>1.2.3</h4>
<ul>
  <li>Fixed malformed markup in tab module.</li>
</ul>
<h4>1.2.2</h4>
<ul>
  <li>Fixed Double underline when footer URLs have a focus state.</li>
  <li>Adjusted card module to equalize by row instead of all cards having the same height.</li>
  <li>Improved hit area for mobile navigation drill down arrows.</li>
  <li>Stories module minor style tweak to title area.</li>
  <li>Changed type scheme names.</li>
</ul>
<h4>1.2.1</h4>
<ul>
  <li>Fixed bug related to use of jquery clone and live events that broke top level menu items when clicked.</li>
</ul>
<h4>1.2.0</h4>
<ul>
  <li>Fixed gallery module thumbnail cropping issue.</li>
  <li>Improved sidebar navigation styles.</li>
  <li>Added Toggle to use mega menu navigation items in the sidebar.</li>
  <li>Header navigation mega menu column widths auto adjust based on number of columns.</li>
  <li>Updated stories module styles.</li>
  <li>Updated location module styles.</li>
  <li>Mobile menu drill down functionality. Clicking a menu item with an href matching it’s first child menu item will
    trigger a drill down.</li>
  <li>Added social feed module with Twitter and Facebook support.</li>
  <li>Added subscribe module that integrates with Constant Contact.</li>
</ul>
<h4>1.1.8</h4>
<ul>
  <li>Updated header logo to fix sizing bug in IE11.</li>
</ul>
<h4>1.1.7</h4>
<ul>
  <li>Updated Google Maps API key.</li>
</ul>
<h4>1.1.6</h4>
<ul>
  <li>Updated tab module to make entire tab clickable.</li>
  <li>Updated video module to hide suggested videos.</li>
  <li>Updated search to show highlighted titles and context relevant excerpts.</li>
</ul>
<h4>1.1.5</h4>
<ul>
  <li>Added color override options in the customizer for the main navigation, mobile navigation, and hero callouts.</li>
  <li>Updated the way interior page banners load so the default banner image will not flash or double load.</li>
  <li>Added option to the location module allowing the map marker color to be set to any one of the core theme colors.</li>
  <li>Added meta tag to disable automatic phone number detection.</li>
</ul>
<h4>1.1.4</h4>
<ul>
  <li>Removed the "Use Desktop Menu Items For Mobile Navigation" option in favor of the opposite "Use Page Based Mobile
    Navigation" option. This changes default theme behavior for mobile navigation to match the desktop.</li>
</ul>
<h4>1.1.3</h4>
<ul>
  <li>Adjusted the width of the header logo area on mobile to accommodate wide logos better.</li>
  <li>Updated padding on hero buttons so that they both match.</li>
  <li>Reduced font size in the title module for mobile devices and added word breaking.</li>
  <li>Fixed bug that caused tab module labels to sometimes overlap the arrow icon.</li>
  <li>Updated interior page banner so that the title stays on the grid for tablet size devices.</li>
</ul>
<h4>1.1.2</h4>
<ul>
  <li>Updated arrow link styles in mobile menu. Update arrow link styles in desktop.</li>
  <li>Adjusted social media icons in the footer to secondary color.</li>
  <li>Adjusted Story Module image sizes.</li>
</ul>
<h4>1.1.1</h4>
<ul>
  <li>Updated link styles in the accordion content to match global body copy styles.</li>
  <li>Title module was not respecting H3 sizing. Has been set to not overwrite global typography.</li>
  <li>Gallery title was outputting an empty heading if not entered.</li>
  <li>Adjusted line-height of H2s and H3s so that 'p' and 'l' don't collide if they are on top of one another.</li>
  <li>List item under nested unordered list was adjusted to display the bullet as hollow with a border.</li>
</ul>
<h4>1.1.0</h4>
<ul>
  <li>Enabled interior banner functionality for the blog archive and single post pages that matches standard page
    functionality.</li>
  <li>Enabled modular content above the list of posts on the blog archive page.</li>
  <li>Enabled modular content for single blog posts.</li>
</ul>
<h4>1.0.11</h4>
<ul>
  <li>Fixed minor spacing issue for ordered and unordered lists when nested.</li>
  <li>Enabled favicon support in the customizer.</li>
  <li>Modified line 2 of the hero to allow link markup.</li>
</ul>
<h4>1.0.10</h4>
<ul>
  <li>Updated tab module to extend text module styles.</li>
</ul>
<h4>1.0.9</h4>
<ul>
  <li>Added a link to the sidebar navigation title.</li>
</ul>
<h4>1.0.8</h4>
<ul>
  <li>Minor color contrast changes for slick slider arrows and dots.</li>
  <li>Removed outline:0 where custom outline styles are not used.</li>
  <li>Adjusted button hover styles to change border color instead of background color for better ADA compliance.</li>
</ul>
<h4>1.0.7</h4>
<ul>
  <li>Added Google Tag Manager support.</li>
  <li>Enabled custom CSS in the customizer.</li>
</ul>
<h4>1.0.6</h4>
<ul>
  <li>Updated tab module to be more ADA compliant.</li>
  <li>Updated stylesheet generation so that a unique name is used each time.</li>
  <li>Updated colors to have more contrast in several locations for better ADA compliance.</li>
  <li>Minor padding tweaks to base typography styles.</li>
  <li>Fixed issue related to having multiple tab modules on one page.</li>
  <li>Added "Skip to Content" link.</li>
</ul>
<h4>1.0.5</h4>
<ul>
  <li>Removed 6 tabs maximum restriction.</li>
  <li>Fixed bug that made mobile menu sticky links not clickable.</li>
  <li>Added warning comments throughout the codebase to not modify the theme.</li>
  <li>Updated tab module to be more ADA compliant.</li>
  <li>Added the ability to change the default interior banner image from the customizer.</li>
  <li>Fixed Chrome mobile issue that caused header search form to close.</li>
  <li>Adjusted mobile H1 and H2 font sizes.</li>
  <li>Updated the way the main header menu works so that explicit control is given over how the four mega menu columns
    are filled.</li>
  <li>Minor color contrast tweaks for better ADA compliance.</li>
  <li>Tweaked the hero text overlay width for the laptop breakpoint.</li>
</ul>
<h4>1.0.4</h4>
<ul>
  <li>Updated the locations module styling to look better regardless of the number of locations.</li>
  <li>Updated the locations module so that the default zoom level is not super zoomed in when only one location is
    present.</li>
  <li>Tweaked the default H3 style.</li>
  <li>Tweaked padding on the interior page banner title so that text is more vertically centered.</li>
  <li>Added an option to the banner module so that the button can have a stroke around it.</li>
</ul>
<h4>1.0.3</h4>
<ul>
  <li>Updated the way header secondary nav and sticky mobile menu icons work so that it's all maintained from a single
    menu. The customizer is no longer used for this.</li>
  <li>Added optional ability to specify an icon for header callouts</li>
  <li>Fixed a positioning bug with the mega menu.</li>
  <li>Updated the gallery module to require a minimum width and height. Images over that size will be cropped.</li>
  <li>Updated the location module to support multiple facilities.</li>
  <li>Added a tertiary color for use on items like icons and decorations that are not ADA critical.</li>
  <li>Fixed social media icon spacing issue in IE.</li>
  <li>Updated location module to support multiple phone numbers per facility.</li>
  <li>Updated sc.mediaQueries to most recent version including the XL and HG breakpoints.</li>
  <li>Added additional theme version check to make sure stylesheets and json update when they should.</li>
</ul>
<h4>1.0.2</h4>
<ul>
  <li>Replaced broken google maps icon link with base64 encoded image</li>
  <li>Adjusted padding in the video module</li>
</ul>
<h4>1.0.1</h4>
<ul>
  <li>Added Google Maps API key</li>
</ul>
<h4>1.0.0</h4>
<ul>
  <li>Initial Release</li>
</ul>||||||| .r0
=======
<h4>1.2.3</h4>
<ul>
  <li>Removed http-equiv attribute and duplicate meta charset.</li>
</ul>
<h4>1.2.2</h4>
<ul>
  <li>Fixed Double underline when footer URLs have a focus state.</li>
  <li>Adjusted card module to equalize by row instead of all cards having the same height.</li>
  <li>Improved hit area for mobile navigation drill down arrows.</li>
  <li>Stories module minor style tweak to title area.</li>
  <li>Changed type scheme names.</li>
</ul>
<h4>1.2.1</h4>
<ul>
  <li>Fixed bug related to use of jquery clone and live events that broke top level menu items when clicked.</li>
</ul>
<h4>1.2.0</h4>
<ul>
  <li>Fixed gallery module thumbnail cropping issue.</li>
  <li>Improved sidebar navigation styles.</li>
  <li>Added Toggle to use mega menu navigation items in the sidebar.</li>
  <li>Header navigation mega menu column widths auto adjust based on number of columns.</li>
  <li>Updated stories module styles.</li>
  <li>Updated location module styles.</li>
  <li>Mobile menu drill down functionality. Clicking a menu item with an href matching it’s first child menu item will
    trigger a drill down.</li>
  <li>Added social feed module with Twitter and Facebook support.</li>
  <li>Added subscribe module that integrates with Constant Contact.</li>
</ul>
<h4>1.1.8</h4>
<ul>
  <li>Updated header logo to fix sizing bug in IE11.</li>
</ul>
<h4>1.1.7</h4>
<ul>
  <li>Updated Google Maps API key.</li>
</ul>
<h4>1.1.6</h4>
<ul>
  <li>Updated tab module to make entire tab clickable.</li>
  <li>Updated video module to hide suggested videos.</li>
  <li>Updated search to show highlighted titles and context relevant excerpts.</li>
</ul>
<h4>1.1.5</h4>
<ul>
  <li>Added color override options in the customizer for the main navigation, mobile navigation, and hero callouts.</li>
  <li>Updated the way interior page banners load so the default banner image will not flash or double load.</li>
  <li>Added option to the location module allowing the map marker color to be set to any one of the core theme colors.</li>
  <li>Added meta tag to disable automatic phone number detection.</li>
</ul>
<h4>1.1.4</h4>
<ul>
  <li>Removed the "Use Desktop Menu Items For Mobile Navigation" option in favor of the opposite "Use Page Based Mobile
    Navigation" option. This changes default theme behavior for mobile navigation to match the desktop.</li>
</ul>
<h4>1.1.3</h4>
<ul>
  <li>Adjusted the width of the header logo area on mobile to accommodate wide logos better.</li>
  <li>Updated padding on hero buttons so that they both match.</li>
  <li>Reduced font size in the title module for mobile devices and added word breaking.</li>
  <li>Fixed bug that caused tab module labels to sometimes overlap the arrow icon.</li>
  <li>Updated interior page banner so that the title stays on the grid for tablet size devices.</li>
</ul>
<h4>1.1.2</h4>
<ul>
  <li>Updated arrow link styles in mobile menu. Update arrow link styles in desktop.</li>
  <li>Adjusted social media icons in the footer to secondary color.</li>
  <li>Adjusted Story Module image sizes.</li>
</ul>
<h4>1.1.1</h4>
<ul>
  <li>Updated link styles in the accordion content to match global body copy styles.</li>
  <li>Title module was not respecting H3 sizing. Has been set to not overwrite global typography.</li>
  <li>Gallery title was outputting an empty heading if not entered.</li>
  <li>Adjusted line-height of H2s and H3s so that 'p' and 'l' don't collide if they are on top of one another.</li>
  <li>List item under nested unordered list was adjusted to display the bullet as hollow with a border.</li>
</ul>
<h4>1.1.0</h4>
<ul>
  <li>Enabled interior banner functionality for the blog archive and single post pages that matches standard page
    functionality.</li>
  <li>Enabled modular content above the list of posts on the blog archive page.</li>
  <li>Enabled modular content for single blog posts.</li>
</ul>
<h4>1.0.11</h4>
<ul>
  <li>Fixed minor spacing issue for ordered and unordered lists when nested.</li>
  <li>Enabled favicon support in the customizer.</li>
  <li>Modified line 2 of the hero to allow link markup.</li>
</ul>
<h4>1.0.10</h4>
<ul>
  <li>Updated tab module to extend text module styles.</li>
</ul>
<h4>1.0.9</h4>
<ul>
  <li>Added a link to the sidebar navigation title.</li>
</ul>
<h4>1.0.8</h4>
<ul>
  <li>Minor color contrast changes for slick slider arrows and dots.</li>
  <li>Removed outline:0 where custom outline styles are not used.</li>
  <li>Adjusted button hover styles to change border color instead of background color for better ADA compliance.</li>
</ul>
<h4>1.0.7</h4>
<ul>
  <li>Added Google Tag Manager support.</li>
  <li>Enabled custom CSS in the customizer.</li>
</ul>
<h4>1.0.6</h4>
<ul>
  <li>Updated tab module to be more ADA compliant.</li>
  <li>Updated stylesheet generation so that a unique name is used each time.</li>
  <li>Updated colors to have more contrast in several locations for better ADA compliance.</li>
  <li>Minor padding tweaks to base typography styles.</li>
  <li>Fixed issue related to having multiple tab modules on one page.</li>
  <li>Added "Skip to Content" link.</li>
</ul>
<h4>1.0.5</h4>
<ul>
  <li>Removed 6 tabs maximum restriction.</li>
  <li>Fixed bug that made mobile menu sticky links not clickable.</li>
  <li>Added warning comments throughout the codebase to not modify the theme.</li>
  <li>Updated tab module to be more ADA compliant.</li>
  <li>Added the ability to change the default interior banner image from the customizer.</li>
  <li>Fixed Chrome mobile issue that caused header search form to close.</li>
  <li>Adjusted mobile H1 and H2 font sizes.</li>
  <li>Updated the way the main header menu works so that explicit control is given over how the four mega menu columns
    are filled.</li>
  <li>Minor color contrast tweaks for better ADA compliance.</li>
  <li>Tweaked the hero text overlay width for the laptop breakpoint.</li>
</ul>
<h4>1.0.4</h4>
<ul>
  <li>Updated the locations module styling to look better regardless of the number of locations.</li>
  <li>Updated the locations module so that the default zoom level is not super zoomed in when only one location is
    present.</li>
  <li>Tweaked the default H3 style.</li>
  <li>Tweaked padding on the interior page banner title so that text is more vertically centered.</li>
  <li>Added an option to the banner module so that the button can have a stroke around it.</li>
</ul>
<h4>1.0.3</h4>
<ul>
  <li>Updated the way header secondary nav and sticky mobile menu icons work so that it's all maintained from a single
    menu. The customizer is no longer used for this.</li>
  <li>Added optional ability to specify an icon for header callouts</li>
  <li>Fixed a positioning bug with the mega menu.</li>
  <li>Updated the gallery module to require a minimum width and height. Images over that size will be cropped.</li>
  <li>Updated the location module to support multiple facilities.</li>
  <li>Added a tertiary color for use on items like icons and decorations that are not ADA critical.</li>
  <li>Fixed social media icon spacing issue in IE.</li>
  <li>Updated location module to support multiple phone numbers per facility.</li>
  <li>Updated sc.mediaQueries to most recent version including the XL and HG breakpoints.</li>
  <li>Added additional theme version check to make sure stylesheets and json update when they should.</li>
</ul>
<h4>1.0.2</h4>
<ul>
  <li>Replaced broken google maps icon link with base64 encoded image</li>
  <li>Adjusted padding in the video module</li>
</ul>
<h4>1.0.1</h4>
<ul>
  <li>Added Google Maps API key</li>
</ul>
<h4>1.0.0</h4>
<ul>
  <li>Initial Release</li>
</ul>