<h4>1.0.4</h4>
<ul>
  <li>Updated the locations module styling to look better regardless of the number of locations.</li>
  <li>Updated the locations module so that the default zoom level is not super zoomed in when only one location is present.</li>
  <li>Tweaked the default H3 style.</li>
  <li>Tweaked padding on the interior page banner title so that text is more vertically centered.</li>
  <li>Added an option to the banner module so that the button can have a stroke around it.</li>
</ul>
<h4>1.0.3</h4>
<ul>
  <li>Updated the way header secondary nav and sticky mobile menu icons work so that it's all maintained from a single menu. The customizer is no longer used for this.</li>
  <li>Added optional ability to specify an icon for header callouts</li>
  <li>Fixed a positioning bug with the mega menu.</li>
  <li>Updated the gallery module to require a minimum width and height. Images over that size will be cropped.</li>
  <li>Updated the location module to support multiple facilities.</li>
  <li>Added a tertiary color for use on items like icons and decorations that are not ADA critical.</li>
  <li>Fixed social media icon spacing issue in IE.</li>
  <li>Updated location module to support multiple phone numbers per facility.</li>
  <li>Updated sc.mediaQueries to most recent version including the XL and HG breakpoints.</li>
  <li>Added additional theme version check to make sure stylesheets and json update when they should.</li>
</ul>
<h4>1.0.2</h4>
<ul>
  <li>Replaced broken google maps icon link with base64 encoded image</li>
  <li>Adjusted padding in the video module</li>
</ul>
<h4>1.0.1</h4>
<ul>
  <li>Added Google Maps API key</li>
</ul>
<h4>1.0.0</h4>
<ul>
  <li>Initial Release</li>
</ul>