<h4>1.0.2</h4>
<ul>
  <li>Replaced broken google maps icon link with base64 encoded image</li>
  <li>Adjusted padding in the video module</li>
</ul>
<h4>1.0.1</h4>
<ul>
  <li>Added Google Maps API key</li>
</ul>
<h4>1.0.0</h4>
<ul>
  <li>Initial Release</li>
</ul>