// Banner Module
// -----------------------------------------------------------------------------
.sc-module-banner {
	background-color: $primary-color;
	background-size: cover;
	color: #fff;
	overflow-x: hidden;
	position: relative;
	margin-bottom: 40px;
	&::before {
		background: $primary-color-90;
		content: " ";
		position: absolute;
		top: 0;
		left: -243px;
		width: 290px;
		height: 100%;
		transform: skew(-20deg);
		transform-origin: bottom;
		@media #{$md_up} {
			left: 0;
		}
	}
	&::after {
		background: $primary-color-90;
		content: " ";
		position: absolute;
		top: 0;
		right: -330px;
		width: 290px;
		height: 100%;
		transform: skew(-20deg);
		transform-origin: top;
		@media #{$md_up} {
			right: 0;
		}
	}
	&.lg-image {
		@media #{$md_up} {
			&::before {
				display: none;
			}
			&::after {
				display: none;
			}
		}
	}
	&.md-image {
		@media #{$sm_up} {
			&::before {
				display: none;
			}
			&::after {
				display: none;
			}
		}
	}
	&.sm-image {
		@media #{$xs_up} {
			&::before {
				display: none;
			}
			&::after {
				display: none;
			}
		}
	}
	.banner-content-wrapper {
		position: relative;
		z-index: 2;
		padding: 20px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media #{$md_up} {
			flex-direction: row;
			padding: 40px 0;
		}
		> div {
			margin-bottom: 20px;
			@media #{$md_up} {
				display: flex;
				flex-direction: column;
				justify-content: center;
				max-width: 60%;
				margin: 0 10px;
				flex-shrink: 0;
			}
		}
		.banner-icon {
			@media #{$md_up} {
				text-align: center;
			}
		}
		.button {
			margin: 0;
			background-color: $accent-color;
			padding: 10px 40px;
			border-color: $accent-color;
			text-transform: uppercase;
			font-size: 12px;
			width: auto;
			@include ps-letter-tracking(35);
			&:hover {
				box-shadow: 0 0 0 2px $accent-color-50 !important;
			}
			&.add-stroke{
				box-shadow: 0 0 0 2px #fff; 
			}
		}
		p {
			margin-bottom: 0;
		}
	}
	h4 {
		color: #fff;
		font-family: $header-alt-font-family;
		font-size: 26px;
		@include ps-letter-tracking(30);
		margin-bottom: 10px;
	}
	&:not(.sc-force-fluid) {
		margin: 0 -15px 40px -15px;
		padding: 0 15px;
		&::before {
			left: 0;
			transform: skew(-20deg) translateX(-50%);
		}
		&::after {
			right: 0;
			transform: skew(-20deg) translateX(120%);
		}
		@media #{$md_up} {
			margin: 0 0 40px 0;
		}
		>.banner-content-wrapper {
			flex-wrap: wrap;
			padding: 40px 0 0;
			>div {
				display: block;
				text-align: left;
				padding: 0 0 40px;
				width: 100%;
				max-width: 100%;
			}
		}
	}
}