
// Form Module
// -----------------------------------------------------------------------------

$gf-desktop-up: "only screen and (min-width: 641px)";

// .gf_left_half,
// .gf_right_half,
// .gf_left_third,
// .gf_left_third,
// .gf_right_third {

// }

.sc-module-form {
	margin:0 0 40px 0;
	div.gform_wrapper {
		.validation_error {
			background:rgba($error-color, .1);
			border:1px solid $error-color;
		}
		ul.gform_fields {
			@include clearfix;
			li.gfield {
				border:0 !important;
				margin:10px 0 10px 0 !important;
        padding:0 16px 0 0 !important;
        &.gfield_error {
          background:#fff !important;
          &:not(.gf_left_half):not(.gf_right_half):not(.gf_left_third):not(.gf_left_third):not(.gf_right_third) {
            padding: 0 !important;
          }
        }
				.ginput_container_checkbox {
					clear:none;
					float:left;
					.gfield_checkbox {
						input[type='checkbox'] {
							display:none;
							&:checked {
								+label {
									&::before {
										content: "\2713";
									}
								}
							}
						}
						label {
							&::before {
								border:1px solid $secondary-color-40;
								color:$primary-color;
								content:'';
								display:inline-block;
								font-size:16px;
								height:20px;
								line-height:18px;
								text-align:center;
								width:20px;
							}
						}
					}
					+.gfield_description {
						clear:none;
						float:left;
						margin-left:10px;
						width:90%;
					}
				}
				&.field_description_below {
					.gfield_description {
						padding-top:0 !important;
					}
				}
				&.gf_left_third,
				&.gf_middle_third,
				&.gf_right_third {
					@media #{$gf-desktop-up} {
						width:33.3% !important;
					}
				}
			}
		}
		.ginput_container {
			margin-top:0 !important;
		}
		.top_label {
			input {
				appearance:none;
				border:1px solid $secondary-color-40;
				&.medium {
					width:100%;
				}
			}
			textarea {
				appearance:none;
				border:1px solid $secondary-color-40;
			}
			select {
				appearance:none;
				background-color:transparent;
				border:1px solid $secondary-color-40;
				border-radius:0 !important;
				width:100% !important;
				padding:5px 4px;
			}
			.ginput_container_select {
				position:relative;
				&::after {
					@include arrow('bottom', $secondary-color-90, 6px);
					position:absolute;
					pointer-events:none;
					right:6px;
					top:15px;
				}
				&::before {
					background:#fff;
					content:'';
					display:block;
					height:34px;
					position:absolute;
					pointer-events:none;
					right:0;
					top:1px;
					width:25px;
				}
			}
			.gfield_label {
				font-style:italic;
				font-weight:400;
				margin:0 !important;
				padding:0 !important;
			}
		}
		.gform_body {
			@media #{$gf-desktop-up} {
				width:calc(100% + 15px);
			}
		}
		.gform_footer {
			@media #{$md_up} {
				clear:none;
				float:right;
				width:auto;
			}
			input.button,
			input[type='submit'] {
				@extend .button;
			}
		}
	}
}
