
// Hero Module
// -----------------------------------------------------------------------------

$hero-height-desktop:575px;
$hero-height-mobile:234px;

.sc-module-hero {
  background:#fff;
  margin:-30px -15px 30px -15px;
  position:relative;
  @media #{$md_up} {
    margin:-50px -15px 50px -15px;
  }
  .slick-slider {
    background:$primary-color-5;
    margin:0 0 20px;
    @media #{$md-up} {
      margin:0;
    }
    .slick-track{
      display: flex;
    }
    .slick-slide {
      min-height:$hero-height-mobile;
      width:100%;
      @media #{$md_up} {
        align-items:center;
        display:flex;
		    flex-direction:column;
        justify-content:center;
        min-height:$hero-height-desktop;
      }
    }
    .col-xs-12 {
      align-items:flex-start;
      display:flex;
      flex-direction:column;
      &.center{
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
      }
      &.right{
        flex-direction: row-reverse;
        text-align: right;
      }
    }
    .container {
      position:relative;
      z-index:2;
      margin-top:$hero-height-mobile;
      @media #{$md_up} {
        background:transparent;
        margin-top:0;
      }
    }
    .background {
      background-size:cover;
      height:$hero-height-mobile;
      left:0;
      position:absolute;
      top:0;
      width:100%;
      z-index:1;
      @media #{$md_up} {
        height:$hero-height-desktop;
      }
    }
    .inner {
      padding:20px 0;
      width:100%;
      @media #{$md_up} {
        padding:0;
        width:55%
      }
      @media #{$lg_up} {
        width:50%
      }
    }
    .title {
      margin:0 0 10px;
      @media #{$md_up} {
        margin:0 0 25px;
      }
    }
    .title-line-1 {
      color:$primary-color;
      font-family:$header-font-family;
      font-size:30px;
      font-weight:400;
      @include ps-letter-tracking(10);
      line-height:30px;
      margin:0 0 5px;
      @media #{$md_up} {
        font-size:42px;
        line-height:42px;
        margin:0 0 10px;
      }
    }
    .title-line-2 {
      color:$core-font-color;
      font-family:$header-font-family;
      font-size:34px;
      font-weight:700;
      @include ps-letter-tracking(0);
      line-height:34px;
      @media #{$md_up} {
        font-size:52px;
        line-height:52px;
      }
      a {
        color:$core-font-color;
      }
    }
    .description {
      color:$core-font-color;
      margin:0 0 10px;
      @media #{$md_up} {
        margin:0 0 25px;
      }
    }
    .description-intro {
      font-family:$header-alt-font-family;
      font-size:21px;
      font-weight:500;
      @include ps-letter-tracking(0);
      line-height:22px;
      margin:0 0 5px;
    }
    .description-body {
      display:none;
      font-size:16px;
      line-height:22px;
      @media #{$md_up} {
        display:block;
      }
    }
    .button-1 {
      @extend .button;
    }
    .button-2 {
      @extend .button;
      background:#fff;
      border-color:#fff;
      color:$accent-color;
      &:hover {
        background:#fff;
        border-color:#fff;
        box-shadow: 0 0 0 2px $alt-accent-color !important;
        color:$accent-color;
      }
    }
    .button-1,
    .button-2 {
      margin:0 20px 10px 0;
      padding-left:30px;
      padding-right:30px;
      @media #{$md-up} {
        margin:0 20px 0 0;
        padding-left:45px;
        padding-right:45px;
      }
    }
  }
  .callouts {
    opacity:0;
    transition:opacity 300ms ease, margin 300ms ease;
    @media #{$md-up} {
      margin:-70px 0 0 0;
    }
    .container {
      padding:0 30px;
    }
    .col-xs-12 {
      padding:0;
      &:nth-child(even) {
        .callout {
          background:$primary-color;
        }
      }
		}
		&-total-4 {
			@media #{$md-up} {
				.col-xs-12 {
					&:nth-child(1),
					&:nth-child(4) {
						.callout {
							background:$primary-dark-color-90;
						}
					}
					&:nth-child(2),
					&:nth-child(3) {
						.callout {
							background:$primary-color;
						}
					}
				}
			}
		}
  }
  .callout {
    background:$primary-dark-color-90;
    cursor:pointer;
    padding:25px 25px 25px 70px;
    position:relative;
    width:100%;
    &:hover {
      .title,
      .description {
        text-decoration:underline;
      }
    }
    .icon {
      color:$alt-accent-color;
      left:35px;
      position:absolute;
      top:32px;
      &.diamond {
        &::before,
        &::after {
          left:0;
          position:absolute;
          transform:scaleX(.75);
        }
        &::before {
          @include arrow('top', $alt-accent-color, 10px);
          position:absolute;
          top:0px;
        }
        &::after {
          @include arrow('bottom', $alt-accent-color, 10px);
          position:absolute;
          top:10px;
        }
      }
      &.fa {
        font-size:20px;
      }
    }
    .title {
      color:#fff;
      font-family:$header-font-family;
      font-weight:700;
      margin:0 0 5px;
    }
    .description {
      color:#fff;
      font-size:14px;
      line-height:18px;
      margin:0;
    }
    .link {
      display:block;
      font-size:0;
      line-height:0;
      height:0;
      width:0;
    }
  }
}
