
// Image Module
// -----------------------------------------------------------------------------

.sc-module-image {
  margin:0 0 40px 0;
  .image {
    @include img-responsive();
  }
  .image-with-border {
    border:1px solid $secondary-color;
  }
  .caption {
    color:$core-font-color;
    display:block;
    font-size:14px;
    @include ps-letter-tracking(25);
    line-height:18px;
    margin:10px 0 0 0;
  }
}
