
// Stories Module
// -----------------------------------------------------------------------------

.sc-module-stories {
	margin: 0 0 40px 0;
	position: relative;
	.story {
		background-color: $secondary-color-10;
		background-repeat: no-repeat;
		background-size: 100% auto;
		@media #{$md_up} {
			background-size: auto 100%;
			display: flex;
		}
	}
	.story-image {
		@include aspect-ratio(866, 564);
		background-position: center center;
		background-size: cover;
		flex-grow: 1;
		@media #{$md_up} {
			margin: 0;
			&::before {
				display: none;
			}
			> .content {
				display: none;
			}
		}
	}
	.story-info {
		background-color: $secondary-color-10;
		padding: 20px 20px 40px;
		@media #{$md_up} {
			float: right;
			margin-top: 0;
			min-height: 469px;
			padding: 40px 65px;
			width: 55%;
		}
		.story-headline {
			background-color: $primary-color-15;
			color: $primary-dark-color-60;
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 20px;
			margin-left: -20px;
			padding: 20px 20px 20px 55px;
			@media #{$md_up} {
				margin-left: -65px;
				padding: 20px 30px 20px 65px;
			}
		}
		.story-content {
			font-family: $core-font-family;
			font-style: italic;
			padding: 0 0 0 35px;
			position: relative;
			@include ps-letter-tracking(25);
			@media #{$md-up} {
				padding: 0;
			}
		}
		.story-icon {
			height: 20px;
			left: 0;
			line-height: 0;
			margin-right: 10px;
			position: absolute;
			top: 6px;
			vertical-align: top;
			width: 22px;
			@media #{$md-up} {
				left: -35px;
			}
			path {
				fill: $alt-accent-color;
			}
		}
		h5 {
			margin-bottom: 0;
			@include ps-letter-tracking(30);
		}
		.story-relation {
			@include ps-letter-tracking(25);
		}
		&::after {
			border-bottom: 1px solid $secondary-color-30;
			content: '';
			display: block;
			margin: 20px 0;
			width: 100%;
		}
	}
	.story-nav {
		padding: 20px 40px;
		position: absolute;
		right: 0;
		transform: translateY(-100%);
		width: 100%;
		@media #{$md_up} {
			padding: 20px 65px;
		}
		.slick-prev,
		.slick-next {
			position: static;
		}
		.slick-arrow {
			background-color: transparent;
			border: 1px solid $accent-color;
			border-radius: 100%;
			color: $accent-color;
			display: inline-block !important;
			font-family: 'FontAwesome';
			font-size: 0px;
			height: 25px;
			margin: 0 0 0 10px;
			padding: 1px 0 0 0;
			width: 25px;
			&::before {
				display: block;
				font-size: 12px;
			}
			&::after {
				display: block;
			}
			&.fa-chevron-left::before {
				padding-right: 1px;
			}
			&.fa-chevron-right::before {
				padding-left: 3px;
			}
		}
		.dots {
			float: left;
			width: 50%;
		}
		.slick-dots {
			line-height: 25px;
			padding: 0;
			position: static;
			text-align: left;
			li {
				background-color: transparent;
				border: 1px solid $secondary-color-50;
				border-radius: 100%;
				vertical-align: middle;
				height: 12px;
				width: 12px;
				margin: 0 5px 0 0;
				@media #{$xs_up} {
					height: 15px;
					width: 15px;
					margin: 0 10px 0 0;
				}
				&.slick-active {
					background-color: $secondary-color-50;
				}
				button {
					display: none;
				}
			}
		}
		.arrows {
			float: right;
			text-align: right;
			width: 50%;
		}
		@media #{$md_up} {
			width: 55%;
		}
	}
	&[data-align='right'] {
		@media #{$md_up} {
			.story {
				background-position: top right;
			}
			.story-info {
				float: left;
			}
			.story-nav {
				left: 0;
				right: unset;
			}
		}
	}
}
