
// Subscribe Module
// -----------------------------------------------------------------------------

.sc-module-subscribe {
	margin: 0 0 40px 0;
	.inner {
		background: $secondary-color-10;
		margin: 0 -15px;
		min-height: 450px;
		padding: 40px 0;
		@media #{$sm-up} {
			margin: 0;
		}
	}
	.headline {
    align-items: center;
		background-color: $primary-color-15;
		color: $primary-dark-color-60;
		display: flex;
		font-size: 24px;
		line-height: 28px;
		margin: 0 20px 20px 0;
		padding: 20px 15px;
		@media #{$md_up} {
			margin: 0 65px 20px 0;
			padding: 20px 30px;
		}
	}
	.icon {
		border: 1px solid $primary-color;
		border-radius: 50%;
		height: 60px;
		margin: 0 15px 0 0;
		padding: 15px;
		width: 60px;
		.glyph {
			fill: $primary-color;	
		}
	}
	.description {
		font-family:$core-font-family;
		font-style:italic;
		padding: 0 15px;
		@include ps-letter-tracking(25);
		@media #{$md_up} {
			padding: 0 65px;
		}
	}
	.embed {
		margin: 0 0 20px 0;
		padding: 0 15px;
		@media #{$md_up} {
			padding: 0 65px;
		}
	}
	.disclaimer {
		padding: 0 15px;
		@media #{$md_up} {
			padding: 0 65px;
		}
		p {
			font-size: 14px;
		}
	}
}

#page-content .sc-module-subscribe {
	.ctct-form-defaults,
	.ctct-form-embed {
		background: transparent;
		padding: 0;
		font: 16px $core-font-family;
	}
	.ctct-form-header,
	.ctct-form-text {
		display: none;
	}
	.ctct-form-field {
		margin: 0 0 15px 0;
	}
	.ctct-form-label {
		font-style: italic;
    font-weight: 400;
		margin: 0 0 5px 0;
		padding: 0;
		line-height: 1.3;
		&::before {
			color: $error-color !important;
		}
	}
	.ctct-form-element {
		appearance: none;
		border: 1px solid $secondary-color-40;
		border-radius: 0;
		box-shadow: none;
    font-size: inherit;
		font-family: inherit;
		height: auto;
		letter-spacing: normal;
		line-height: inherit;
		padding: 10px 5px;
		&.is-error {
			border: 1px solid $error-color !important;
			color: $error-color !important;
		}
	}
	.ctct-form-button {
		@extend .button;
		clear: both;
		display: inline-block;
		width: auto;
	}
	.ctct-form-errorMessage {
		color: $error-color !important;
	}
	.ctct-form-success {
		.ctct-form-header {
			display: block;
			font: 28px $header-font-family;
		}
		.ctct-form-text {
			display: block;
			font: 16px $core-font-family;
			letter-spacing: .025em;
			line-height: 25px;
			margin: 0 0 20px 0;
		}
	}
	.ctct-form-footer {
		display: none;
	}
	.grecaptcha-badge {
		display: none;
	}
}
