
// Tabs Module
// -----------------------------------------------------------------------------

.sc-module-tabs {
  margin: 0 0 40px 0;
  h4 {
    font-family: $header-alt-font-family;
    color: $header-alt-font-color;
    font-weight: 500;
    font-size: 26px;
  }
  .section-label {
    display: none;
  }
  .section-labels {
    display: block;
    margin: 0 0 -1px 0;
    position: relative;
    ul {
      display: block;
      margin: 0;
      padding: 0;
      @include clearfix;
      @media #{$md_up} {
        display: flex;
      }
    }
    .section-label {
      align-items: center;
      background: $tab-label-selected-background-color;
      border: 1px solid $tab-label-selected-border-color;
      border-bottom-color: $tab-panel-background-color;
      cursor: default;
      display: flex;
      float: left;
      justify-content: center;
      margin: 0 5px 0 0;
      padding: 0;
      &:last-of-type {
        border-bottom: none;
      }
      a {
        align-items: center;
        color: $tab-label-selected-font-color;
        font-family: $header-font-family;
        font-weight: 400;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 20px 10px;
        text-decoration: none;
        text-shadow: .5px 0 0 $primary-color, -.5px 0 0 $primary-color;
        width: 100%;
        @include ps-letter-tracking(30);
        &:hover {
          text-decoration: underline;
        }
        @media #{$md-only} {
          padding: 20px 5px;
        }
      }
      &[data-active='no'] {
        background: $tab-label-background-color;
        border-color: $tab-label-border-color;
        cursor: pointer;
        a {
          color: $tab-label-font-color;
          font-weight: 400;
          text-shadow: none;
        }
      }
      @media #{$md_up} {
        border-bottom: none;
        border-left: none;
        border-top: none;
        flex: 1;
        margin: 0 0 2px 0;
        text-align: center;
        &:last-of-type {
          border-right: none;
        }
      }
    }
  }
  .section-panel {
    @extend .sc-wysiwyg;
    border: 1px solid $tab-panel-border-color;
    display: none;
    padding: 20px 10px;
    @media #{$md_up} {
      padding: 20px;
    }
    &[data-active='yes'] {
      display: block;
    }
  }
}

.sc-module-accordion {
  .section-labels {
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .section-label {
    background: $tab-label-background-color;
    border: 1px solid $tab-panel-border-color;
    cursor: default;
    display: block;
    margin: 0 0 2px 0;
    padding: 0;
    a {
      color: $tab-label-selected-font-color;
      display: block;
      font-family: $header-font-family;
      font-weight: 400;
      @include ps-letter-tracking(30);
      padding: 20px 30px 20px 10px;
      position: relative;
      text-decoration: none;
      text-shadow: .5px 0 0 $primary-color, -.5px 0 0 $primary-color;
      &:hover {
        text-decoration: none;
      }
      &::after {
        @include arrow('bottom', $tab-label-font-color, 8px);
        transition: transform 0.3s ease 0s;
        position: absolute;
        right: 10px;
        top: calc(50% - 4px);
      }
    }
    &[data-active='no'] {
      background: $tab-label-background-color;
      border-color: $tab-label-border-color;
      cursor: pointer;
      a {
        color: $tab-label-font-color;
        font-weight: 400;
        text-shadow: none;
        &::after {
          transform: rotate(-90deg);
        }
      }
    }
  }
  .section-panel {
    @extend .sc-wysiwyg;
    margin-bottom: 2px;
    padding: 20px 10px;
    @media #{$md_up} {
      padding: 20px;
    }
  }
}