
// Title Module
// -----------------------------------------------------------------------------

.sc-module-title {
  margin:0 0 20px 0;
  .inner {
    border-bottom:1px solid $secondary-color-40;
    margin:0 0 10px 0;
    padding:0 0 20px 0;
  }
  .title {
    color:$primary-color;
    margin:0;
    text-transform:none;
  }
  h1.title,
  h2.title {
    font-size:34px;
    line-height:44px;
    word-break:break-word;
    @media #{$sm-up} {
      font-size:44px;
      line-height:54px;
    }
  }
  .sub-title {
    color:$secondary-color;
    display:block;
    font-size:16px;
    font-weight:400;
    line-height:26px;
    margin:0;
    text-transform:none;
  }
  &.sc-module-title-h4 {
    .inner {
      border:none;
      margin:0;
      padding:0;
    }
    .title {
      color:$header-alt-font-color;
      font-family:$header-alt-font-family;
      font-size:26px;
      line-height:30px;
      text-align:center;
    }
  }
}
