
// Video Module
// -----------------------------------------------------------------------------

.sc-module-video {
  margin:0 0 40px 0;
  h4 {
  	color:$header-alt-font-color;
    font-family:$header-alt-font-family;
    font-size:26px;
  	line-height:30px;
  }
  .video {
    @include aspect-ratio(640, 360);
    .content {
      margin:0;
      padding:0;
    }
    iframe {
     height:100%;
     width:100%;
    }
  }
  .content {
  	background-color:$secondary-color-10;
    padding:20px;
  	@media #{$md_up} {
  		padding:20px 65px 20px 45px;
  	}
  }
  .headline {
  	background-color:$primary-color-20;
  	color:$primary-dark-color-60;
    font-family:$header-font-family;
    font-size:22px;
    font-weight:300;
    @include ps-letter-tracking(10);
    line-height:28px;
  	margin-bottom:20px;
    margin-left:-20px;
    padding:15px 20px;
  	@media #{$md_up} {
  		margin-left:-45px;
  	}
  }
  .body {
    font-size:14px;
    line-height:18px;
    margin:0 0 10px 0;
  }
}
