
@mixin img-responsive {
	display:block;
	height:auto;
	max-width:100%;
}

@mixin clearfix {
	&:before,
	&:after {
		content:' '; 
		display:table; 
	}
	&:after {
		clear:both;
	}
}

@mixin aspect-ratio($width, $height) {
  position:relative;
  &:before {
    display:block;
    content:'';
    width:100%;
    padding-top:($height / $width) * 100%;
  }
  > .content {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
}

@mixin arrow($direction, $color, $size) {
  content:'';
  display:block;
  height:0;
  width:0;
  @if $direction == 'top' {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  } @else if $direction == 'right' {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  } @else if $direction == 'bottom' {
    border-top: $size solid $color;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
  } @else if $direction == 'left' {
    border-top: $size solid transparent;
    border-right: $size solid $color;
    border-bottom: $size solid transparent;
  } @else if $direction == 'top-left' {
    border-top: $size solid $color; 
    border-right: $size solid transparent;  
  } @else if $direction == 'top-right' {
    border-top: $size solid $color; 
    border-left: $size solid transparent;
  } @else if $direction == 'bottom-left' {
    border-bottom: $size solid $color; 
    border-right: $size solid transparent;  
  } @else if $direction == 'bottom-right' {
    border-bottom: $size solid $color; 
    border-left: $size solid transparent;
  }
}

@mixin ps-letter-tracking($amount) {
  letter-spacing:$amount / 1000 + em;
}
