
// Grid Helpers
// ====================================================

.col-xxs-full {
  @media #{$xxs-only} {
    width: 100% !important;
  }
}

.hidden-xxs {
  @media #{$xxs-only} {
    display: none !important;
  }
}

.visible-xxs-block {
  display: none;
  
  @media #{$xxs-only} {
    display: block !important;
  }
}

.visible-xxs-inline-block {
  display: none;
  
  @media #{$xxs-only} {
    display: inline-block !important;
  }
}

.visible-xxs-inline {
  display: none;
  
  @media #{$xxs-only} {
    display: inline !important;
  }
}

.visible-xxs-table {
  display: none;
  
  @media #{$xxs-only} {
    display: table !important;
  }
}

// Layout Helpers
// ====================================================

.add-bottom {
  margin-bottom: 2rem !important;
}

.half-bottom {
  margin-bottom: 1rem !important;
}

.remove-bottom {
  margin-bottom: 0 !important;
}

.add-top {
  margin-top: 2rem !important;
}

.half-top {
  margin-top: 1rem !important;
}

.remove-top {
  margin-top: 0 !important;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

// Text Alignment Helpers
// ====================================================

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-jusify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap;
}

.text-right-small-up {
  @media #{$sm-up} {
    text-align: right !important;
  }
}

.text-right-medium-up {
  @media #{$md-up} {
    text-align: right !important;
  }
}
.text-right-large-up {
  @media #{$lg-up} {
    text-align: right !important;
  }
}

.text-right-small-only {
  @media #{$sm-only} {
    text-align: right !important;
  }
}

.text-right-medium-only {
  @media #{$md-only} {
    text-align: right !important;
  }
}

.text-right-large-only {
  @media #{$lg-only} {
    text-align: right !important;
  }
}

.text-center-small-up {
  @media #{$sm-up} {
    text-align: center !important;
  }
}

.text-center-medium-up {
  @media #{$md-up} {
    text-align: center !important;
  }
}

.text-center-large-up {
  @media #{$lg-up} {
    text-align: center !important;
  }
}

.text-center-small-only {
  @media #{$sm-only} {
    text-align: center !important;
  }
}

.text-center-medium-only {
  @media #{$md-only} {
    text-align: center !important;
  }
}

.text-center-large-only {
  @media #{$lg-only} {
    text-align: center !important;
  }
}

.text-left-small-up {
  @media #{$sm-up} {
    text-align: left !important;
  }
}

.text-left-medium-up {
  @media #{$md-up} {
    text-align: left !important;
  }
}

.text-left-large-up {
  @media #{$lg-up} {
    text-align: left !important;
  }
}

.text-left-small-only {
  @media #{$sm-only} {
    text-align: left !important;
  }
}

.text-left-medium-only {
  @media #{$md-only} {
    text-align: left !important;
  }
}

.text-left-large-only {
  @media #{$lg-only} {
    text-align: left !important;
  }
}

.text-justify-small-up {
  @media #{$sm-up} {
    text-align: justify !important;
  }
}

.text-justify-medium-up {
  @media #{$md-up} {
    text-align: justify !important;
  }
}

.text-justify-large-up {
  @media #{$lg-up} {
    text-align: justify !important;
  }
}

.text-justify-small-only {
  @media #{$sm-only} {
    text-align: justify !important;
  }
}

.text-justify-medium-only {
  @media #{$md-only} {
    text-align: justify !important;
  }
}
.text-justify-large-only {
  @media #{$lg-only} {
    text-align: justify !important;
  }
}

.text-nowrap-small-up {
  @media #{$sm-up} {
    white-space: nowrap !important;
  }
}

.text-nowrap-medium-up {
  @media #{$md-up} {
    white-space: nowrap !important;
  }
}

.text-nowrap-large-up {
  @media #{$lg-up} {
    white-space: nowrap !important;
  }
}

.text-nowrap-small-only {
  @media #{$sm-only} {
    white-space: nowrap !important;
  }
}

.text-nowrap-medium-only {
  @media #{$md-up} {
    white-space: nowrap !important;
  }
}

.text-nowrap-large-only {
  @media #{$lg-only} {
    white-space: nowrap !important;
  }
}