
// Footer
// -----------------------------------------------------------------------------

#footer {
  background:$primary-color-5;
  padding:35px 0;
  text-align:center;
  font-size:14px;
  @include ps-letter-tracking(10);
  line-height:19px;
  @media #{$md-up} {
    text-align:left;
  }
  .social-icons {
    @include clearfix;
    margin:0 0 30px 0;
    a {
      color:#000;
      display:inline-block;
      font-size:0px;
      height:36px;
      line-height:0;
      letter-spacing:0;
      margin:0 5px 10px 5px;
      text-decoration:none;
      width:36px;
      @media #{$md-up} {
        float:left;
      }
    }
    svg {
      display:block;
      height:auto;
      width:100%;
      circle {
        stroke:$accent-color;
      }
      g,
      path {
        fill:$accent-color;
      }
      &:hover {
        circle {
          fill:$accent-color-15;
        }
      }
    }
  }
  .navigation {
    margin:0 0 30px 0;
    padding:0;
    @media #{$md-up} {
      margin:0 -5px 30px -5px;
    }
    .menu {
      list-style:none;
      margin:0;
      padding:0;
    }
    .menu-item {
      display:block;
      margin:00;
      padding:0;
      @media #{$md-up} {
        display:inline-block;
      }
      a {
        color:$core-font-color;
        display:inline-block;
        padding:8px 4px;
        position:relative;
        &::after {
          background:$secondary-color-50;
          content:'';
          display:block;
          height:1px;
          width:100%;
        }
        &:hover {
          text-decoration:none;
          &::after {
            background:$secondary-color;
          }
        }
        &:focus {
          text-decoration:none;
        }
      }
    }
  }
  .disclaimer {
    text-align:left;
  }
  .copyright {
    margin:0;
  }
}
