// Header Navigation
// -----------------------------------------------------------------------------

$header-bottom-desktop-height: 60px;
$header-bottom-mobile-height: 35px;

#header {
	.navigation {
		width: 100%;
		.menu {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: left;
			@media #{$md-up} {
				margin: 0 -10px;
			}
			@media #{$lg-up} {
				margin: 0 -15px;
			}
			> .menu-item {
				display: inline-block;
				margin: 0;
				padding: 0;
				&:hover {
					> a::after {
						@include arrow('top', $alt-accent-color, 10px);
						bottom: 0;
						content: '';
						display: block;
						left: calc(50% - 5px);
						position: absolute;
					}
				}
				&:first-of-type {
					> a {
						&::before {
							display: none;
						}
					}
				}
				> a {
					color: #fff;
					display: block;
					font-family: $header-font-family;
					font-size: 13px;
					font-weight: 500;
					height: $header-bottom-mobile-height;
					@include ps-letter-tracking(25);
					line-height: $header-bottom-mobile-height;
					padding: 0 10px;
					position: relative;
					text-align: center;
					text-decoration: none;
					transition: none;
					@media #{$md-up} {
						height: $header-bottom-desktop-height;
						line-height: $header-bottom-desktop-height;
						&::before {
							content: '';
							border-left: 1px solid #fff;
							height: 15px;
							position: absolute;
							top: 50%;
							transform: translateX(-16px) translateY(-50%);
						}
					}
					@media #{$lg-up} {
						font-size: 16px;
						padding: 0 15px;
					}
				}
				> .sub-menu {
					display: none;
				}
			}
		}
		.mega-menu {
			@include clearfix;
			background: #fff;
			border-bottom: 3px solid $secondary-color-50;
			border-top: 3px solid $alt-accent-color;
			left: 0;
			list-style: none;
			margin: 0 !important;
			max-width: 970px !important;
			padding: 40px 15px;
			position: absolute;
			top: $header-bottom-desktop-height;
			width: 970px !important;
			@media #{$lg-up} {
				max-width: 1170px !important;
				width: 1170px !important;
			}
			> .menu-item {
				display: block;
				float: left;
				padding: 0 20px 0 0;
				width: 25% !important;
				z-index: 1;
				&-width-100 {
					width: 100% !important;
				}
				&-width-50 {
					width: 50% !important;
				}
				&-width-33 {
					width: 33.3333% !important;
				}
				&-width-25 {
					width: 25% !important;
				}
				> a {
					display: none;
				}
			}
			.sub-menu {
				display: block;
				list-style: none;
				margin: 0;
				padding: 0 0 20px 0;
				width: 100% !important;
				> .menu-item {
					display: block;
					a {
						line-height: 22px;
					}
					a[data-depth='2'] {
						color: $primary-color-80;
						display: inline-block;
						font-family: $header-font-family;
						font-weight: 700;
						padding: 0 20px 10px 0;
					}
					a[data-depth='3'] {
						color: $core-font-color;
						display: inline-block;
						font-family: $header-font-family;
						font-weight: 400;
						padding: 0 20px 8px 0;
					}
					a[data-depth='4'] {
						color: $core-font-color;
						display: inline-block;
						font-family: $header-font-family;
						font-size: 13px;
						font-weight: 400;
						padding: 0 20px 4px 0;
						&::before {
							content: '- ';
						}
					}
				}
			}
			&::before {
				background: #fff;
				border-bottom: 3px solid $secondary-color-50;
				border-top: 3px solid $alt-accent-color;
				content: '';
				display: block;
				height: calc(100% + 6px);
				left: -4000px;
				position: absolute;
				top: -3px;
				width: 4000px;
			}
			&::after {
				background: #fff;
				border-bottom: 3px solid $secondary-color-50;
				border-top: 3px solid $alt-accent-color;
				content: '';
				display: block;
				height: calc(100% + 6px);
				position: absolute;
				right: -4000px;
				top: -3px;
				width: 4000px;
			}
		}
	}
}
