
// Wrapper
// -----------------------------------------------------------------------------

#wrapper {
  margin:$header-mobile-height 0 0 0;
  overflow-x: hidden;
  @media #{$md-up} {
    margin:$header-desktop-height 0 0 0;
  }
}

#skip-to-content-link {
  background:#fff;
  border:1px solid currentColor;
  box-shadow:0 0 3px currentColor;
  display:block;
  left:10px;
  padding:10px 15px;
  position:absolute;
  top:-100px;
  z-index:999;
  &:focus {
    top:10px;
  }
}
