
// Header
// -----------------------------------------------------------------------------

$header-desktop-height:175px;
$header-mobile-height:94px;

$header-top-desktop-height:115px;
$header-top-mobile-height:59px;

$header-bottom-desktop-height:60px;
$header-bottom-mobile-height:35px;

#header {
  position:fixed;
  top:0;
  width:100%;
  z-index:998;
  .header-top {
    background:#fff;
    .header-col {
      align-items:center;
      display:flex;
      height:$header-top-mobile-height;
      position:relative;
      @media #{$md-up} {
        height:$header-top-desktop-height;
      }
      &-left {
        justify-content:flex-start;
      }
      &-right {
        justify-content:flex-end;
      }
    }
  }
  .header-bottom {
    background:$primary-color;
    text-align:center;
    @media #{$md-up} {
      text-align:left;
    }
  }
  .logo {
    display:block;
    height:35px;
    padding:0;
    @media #{$md-up} {
      height:80px;
    }
    .image {
      display:block;
      max-height:35px;
      max-width:157px;
      @media #{$sm-up} {
        max-width:195px;
      }
      @media #{$md-up} {
        max-height:80px;
        max-width:293px;
      }
      @media #{$lg-up} {
        max-width:360px;
      }
    }
  }
  .small-navigation {
    display:none;
    @media #{$md-up} {
      display:block;
    }
    .menu {
      list-style:none;
      margin:0 10px 0 0;
      padding:0;
      text-align:right;
      .menu-item {
        display:inline-block;
        margin:0;
        padding:0;
        position:relative;
        a {
          color:$core-font-color;
          display:block;
          font-family:$header-font-family;
          font-size:12px;
          font-weight:500;
          height:40px;
          @include ps-letter-tracking(75);
          line-height:40px;
          padding:0 10px;
          position:relative;
          text-decoration:none;
          text-transform:uppercase;
          &:hover {
            text-decoration:underline;
          }
        }
        .fa {
          color:$alt-accent-color;
          float:left;
          height:40px;   
          line-height:40px;
          margin:0 5px 0 0;
        }
        .has-desktop-icon {
          font-weight:700;
          text-transform:uppercase;
        }
      }
    }
  }
  .search-link {
    align-items:center;
    background:$secondary-color-20;
    border-radius:50%;
    color:#000;
    display:flex;
    font-size:0px;
    height:41px;
    justify-content:center;
    letter-spacing:0;
    text-decoration:none;
    width:41px;
    &:hover {
      background:$secondary-color-30;
    }
    @media #{$md-up} {
      height:46px;
      width:46px;
    }
    svg {
      height:17px;
      width:17px;
      @media #{$md-up} {
        height:19px;
        width:19px;
      }
      * {
        fill:$secondary-color;
      }
    }
  }
  .phone-link-container {
    padding-left: 0;
  }
  .phone-link {
    color:#fff;
    display:inline-block;
    font-size:17px;
    font-weight:700;
    height:$header-bottom-mobile-height;
    @include ps-letter-tracking(45);
    line-height:$header-bottom-mobile-height;
    @media #{$md-up} {
      float:right;
      font-size:13px;
      height:$header-bottom-desktop-height;
      line-height:$header-bottom-desktop-height;
    }
    @media #{$lg-up} {
      font-size:15px;
    }
    &:hover {
      text-decoration:underline;
    }
    .fa {
      color:$alt-accent-color;
      float:left;
      line-height:$header-bottom-mobile-height;
      height:$header-bottom-mobile-height;
      margin:0 5px 0 0;
      @media #{$md-up} {
        height:$header-bottom-desktop-height;
        line-height:$header-bottom-desktop-height;
      }
    }
  }
  .mobile-menu-button {
    align-items:center;
    color:#000;
    display:flex;
    flex-direction:column;
    font-size: 0px;
    height:40px;
    justify-content:center;
    letter-spacing:0;
    line-height:0;
    margin:0 0 0 10px;
    position:relative;
    text-decoration:none;
    width:40px;
    span {
      display:block;
      background:$primary-color;
      border-radius:2px;
      height:4px;
      margin:2px auto;
      width:28px;
    }
  }
}

#header-search-form {
  background:$secondary-color-20;
  border-radius:50px;
  height:41px;
  position:absolute;
  right:0;
  top:9px;
  width:calc(100% + 30px);
  @media #{$sm-up} {
    width:100%;
  }
  @media #{$md-up} {
    height:46px;
    top:35px;
  }
  .header-search-input {
    background:transparent;
    border:0;
    float:left;
    height:41px;
    margin:0 0 0 15px;
    outline:0;
    padding:0 0 0 5px;
    width:calc(100% - 60px);
    @media #{$md-up} {
      height:46px;
      width:calc(100% - 65px);
    }
  }
  .header-search-button {
    @extend .search-link;
    background:transparent !important;
    border:0;
    float:right;
    font-size:0;
    margin:-1px 0 0 0;
    position:relative;
    z-index:1;
  }
}

.admin-bar {
  #header {
    top:$wp-admin-bar-desktop-height;
  }
  @media screen and (max-width: 782px) {
    #wpadminbar {
      position:fixed !important;
    }
    #header {
      top:$wp-admin-bar-mobile-height;
    }
  }
}
