
// Mobile Navigation
// -----------------------------------------------------------------------------

#mobile-navigation {
  height:100vh;
  position:fixed;
  right:-100%;
  top:0;
  transition:right 250ms ease;
  width:100%;
  z-index:999;
  @media #{$md-up} {
	display:none;
  }
  &.visible {
    right:0;
  }
  &::after {
    background:#fff;
    content:'';
    display:block;
    height:100px;
    width:100%;
  }
  * {
    outline:0;
  }
  .inner {
    background:$primary-color;
    height:100%;
    padding:20px 0;
    position:relative;
    overflow-y:auto;
  }
  .slider {
    ul {
      float:left;
      list-style:none;
      margin:0;
      padding:0;
      position:relative;
      width:100%;
      z-index:1;
    }
    ul ul {
      display:none;
    }
    ul > li {
      border-bottom:1px solid $primary-color-20;
      display:block;
      margin:0;
      padding:0;
      position:relative;
    }
    ul.sticky-links {
      z-index:2;
      li {
        border:0;
        float:left;
        margin:0;
        width:100%;
        &:last-child {
          margin:0 0 20px 0;
        }
      }
      a {
        color:#fff;
        display:inline-block;
        font-family:$header-font-family;
        font-size:14px;
        font-weight:700;
        @include ps-letter-tracking(35);
        line-height:24px;
        text-transform:uppercase;
        text-decoration:none;
        .fa {
          color:$alt-accent-color;
          display:block;
          float:left;
          line-height:29px;
          margin:00;
          width:22px;
        }
      }
    }
  }
  .slick-slide {
    padding:40px 0 0 0;
    position:relative;
  }
  .sc-mobile-menu-link {
    color:#fff;
    display:block;
    font-family:$header-font-family;
    font-size:16px;
    font-weight:400;
    @include ps-letter-tracking(30);
    margin:0;
    padding:14px 10px;
    width: calc(100% - 45px)
  }
  .sc-mobile-menu-drill-down {
    align-items:center;
    display:flex;
    font-size:0;
    height:53px;
    justify-content:center;
    padding:0;
    position:absolute;
    right:0;
    top:0;
    width:45px;
    text-decoration:none;
    &::after {
      @include arrow('right', #fff, 6px);
    }
  }
  .sc-mobile-menu-back-button {
    color:#fff;
    left:0;
    padding-bottom:8px;
    padding-top:8px;
    position:absolute;
    top:0;

    &.arrow-link:before,
    &.arrow-link:after {
      background: $alt-accent-color;
    }
  }
  .sc-mobile-menu-close-button {
    background: transparent;
    display: block;
    font-size: 0;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    text-decoration: none;
    &::before,
    &::after {
      background: #fff;
      content: '';
      display: block;
      height: 2px;
      left: 4px;
      position: absolute;
      top: 14px;
      transform: rotate(45deg);
      width: 22px;
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  .logo {
    display: block;
    padding: 10px 0;
    width: 110px;
    svg {
      height: auto;
      width: 100%;
    }
  }
  .social-icons {
    @include clearfix;
    a {
      display: block;
      float: left;
      margin: 0 10px 10px 0;
      width: 36px;
    }
    svg {
      display: block;
      height: auto;
      width: 100%;
    }
  }
  .admin-bar & {
    padding-top: $wp-admin-bar-desktop-height;
    @media screen and (max-width: 782px) {
      padding-top:$wp-admin-bar-mobile-height;
    }
  }
}