// Page Sidebar
// -----------------------------------------------------------------------------

#page-sidebar {
	padding: $content-desktop-padding 10px $content-desktop-padding 0;
	img {
    max-width: 100%;
  }
}
