
// Content
// -----------------------------------------------------------------------------

$content-desktop-padding:50px;
$content-mobile-padding:0;

#page-content {
  padding:$content-mobile-padding 0 0;
  @media #{$md-up} {
    padding:$content-desktop-padding 0 0;
  }
  .page-template-page-with-sidebar & {
    margin:0 -15px;
  }
}
