
// Page Banner
// -----------------------------------------------------------------------------

#page-banner {
  align-items:flex-end;
  background:$secondary-color-30;
  background-position:center center;
  background-size:cover;
  display:flex;
  height:160px;
  padding:30px 0;
  @media #{$md-up} {
    height:288px;
  }
  .container {
    @media #{$xxs-only} {
      width:100%;
    }
    @media #{$xs-only} {
      width:100%;
    }
  }
  .title {
    background:rgba(255, 255, 255, .9);
    color:$primary-color-80;
    display:inline-block;
    font-family:$header-font-family;
    font-size:30px;
    font-weight:400;
    line-height:30px;
    margin:0;
    padding:10px 20px 15px 20px;
    @media #{$md-up} {
      font-size:46px;
      line-height:46px;
    }

    @media #{$md-up}{
      display: inline-block !important;
    }
  }


}

.title-outside-banner {
  color:$primary-color-80;
  display:inline-block;
  font-family:$header-font-family;
  font-size:40px;
  font-weight:700;
  line-height:40px;
  margin:0;
  padding:25px 0 25px 0;
}
