// Card Module
// -----------------------------------------------------------------------------

$sc-card-hover-image-offset: 8px;
$sc-card-hover-image-speed: 250ms;
$sc-card-hover-shadow-speed: 250ms;

.sc-module-card {
	background-color: $secondary-color-10;
	box-shadow: 0 0 0 transparent;
	margin: 0 0 40px 0;
	transition: box-shadow #{$sc-card-hover-shadow-speed} ease;
	&-has-link {
		&:hover {
			box-shadow: 0 0 20px $secondary-color-40;
			cursor: pointer;
			.card-image {
				background-repeat: no-repeat;
				background-size: cover;
				left: -#{$sc-card-hover-image-offset / 2};
				position: absolute;
				top: -#{$sc-card-hover-image-offset / 2};
			}
		}
	}
	.card-header {
		overflow: hidden;
		position: relative;
	}
	.card-image {
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transition: height #{$sc-card-hover-image-speed} ease,
			left #{$sc-card-hover-image-speed} ease,
			top #{$sc-card-hover-image-speed} ease,
			width #{$sc-card-hover-image-speed} ease;
		width: 100%;
	}
	.card-image-constraint {
		display: block;
		height: auto;
		opacity: 0;
		width: 100%;
	}
	&-fixed-height {
		.card-image-constraint {
			height: 214px;
		}
	}
	.card-content {
		padding: 20px;
		h5 {
			margin-bottom: 0;
		}
		p {
			margin-bottom: 5px;
			@include ps-letter-tracking(25);
		}
	}
}
.col-md-3 {
	.sc-module-card {
		.card-img {
			@media #{$md_up} {
				@include aspect-ratio(261, 214);
			}
		}
	}
}
.col-md-4 {
	.sc-module-card {
		.card-img {
			@media #{$md_up} {
				@include aspect-ratio(361, 192);
			}
		}
	}
}
.col-md-5 {
	.sc-module-card {
		.card-img {
			@media #{$md_up} {
				@include aspect-ratio(458, 148);
			}
		}
	}
}
.col-md-8 {
	.sc-module-card {
		.card-img {
			@media #{$md_up} {
				@include aspect-ratio(749, 213);
			}
		}
	}
}
