
// Gallery Module
// -----------------------------------------------------------------------------

.sc-module-gallery {
	margin:0 0 40px 0;
	h4 {
		color:$header-alt-font-color;
		font-family:$header-alt-font-family;
		font-size:26px;
		line-height:30px;
	}
	img {
		max-width:100%;
	}
	.gallery-slide {
		@include aspect-ratio(640, 360);
		background:$primary-color-10;
		.content {
			align-items:center;
			display:flex;
			justify-content:center;
		}
		.image {
			display:block;
			max-height:100%;
			max-width:100%;
		}
	}
	.thumbnails {
		padding:10px 0;
		.slick-list {
			//padding: 0 !important;
		}
		.slick-slide {
			cursor:pointer;
			margin:0 5px;
			padding:3px 0;
			&.slick-current {
				background-color: transparent;
				img {
					padding:1px;
					box-shadow:0 0 0 3px $primary-color-80;
				}
			}
		}
	}
	.gallery-footer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.arrows {
		padding: 20px 0 0 0;
		border-top: 1px solid $secondary-color-20;
		width: 100%;
		@media #{$sm_up} {
			padding: 0 0 0 20px;
			border-left: 1px solid $secondary-color-20;
			border-top: none;
			width: auto;
		}
		.slick-prev {
			position: static;
		}
		.slick-next {
			position: static;
		}
		.slick-arrow {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			display: block !important;
			font-family: 'FontAwesome';
			font-size: 0px;
			border-radius: 100%;
			border: 1px solid $accent-color;
			width: 25px;
			height: 25px;
			margin: 0 5px;
			color: $accent-color;
			background-color: transparent;
			float: left;
			padding: 0;
			&::before {
				display: block;
				font-size: 12px;
			}
			&::after {
				display: block;
			}
			&.fa-chevron-left::before {
				padding-right: 1px;
			}
			&.fa-chevron-right::before {
				padding-left: 3px;
			}
		}
	}
	.caption-slider {
		display: inline-block;
		width: 100%;
		margin: 0 0 20px 0;
		@media #{$sm_up} {
			width: 75%;
			margin: 0 20px 0 0;
		}
		h5 {
			margin-bottom: 5px;
		}
		p {
			margin: 0;
			font-size: 14px;
			line-height: 18px;
			@include ps-letter-tracking(25);
		}
	}
}

@media #{$md_up} {
	.col-md-12 {
		.sc-module-gallery {
			.thumbnails {
				float: left;
				width: 50%;
				margin-right: 15px;
			}
			.gallery-footer {
				float: left;
				width: calc(50% - 30px);
				margin-left: 15px;
				margin-top: 5px;
			}
		}
	}
	.col-md-9 {
		.col-md-12 {
			.sc-module-gallery {
				.thumbnails {
					float: none;
					width: auto;
					margin-right: 0;
				}
				.gallery-footer {
					float: none;
					width: auto;
					margin: 0;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
				}
			}
		}
	}
}