
// Location Module
// -----------------------------------------------------------------------------

.sc-module-location {
	margin-left:-15px;
	margin-right:-15px;

	.map {
		height:329px;
		width:100%;
		@media #{$md_up} {
			height:357px;
		}
	}
	.facility {
		&.single{
			.cta-directions{
				background-color:$secondary-color-10;
			}
		}
		&:not(.single):not(:last-child) {
			border-bottom:1px solid $secondary-color-15;
		}
	}
	.location-info {
		display:flex;
		flex-wrap:wrap;
		.details {
			font-family:$header-font-family;
			padding:40px 0;
			text-align:center;
			width:100%;
			@media #{$md_up} {
				padding-left: calc((100vw - 970px) / 2);
				align-items:center;
				display:flex;
				text-align:left;
				width:75%;
			}
			@media #{$lg_up} {
				padding-left: calc((100vw - 1170px) / 2);
			}
			.image {
				display:inline-block;
				margin:0 0 20px 0;
				max-width:165px;
				@media #{$md-up} {
					display:block;
					float:left;
					height:auto;
					margin:0 20px 0 0;
				}
			}
			.title {
				margin:5px 0 20px;
			}
			.address {
				margin:0 0 5px 0;
				a {
					border-left:1px solid $secondary-color-40;
					color:$primary-color;
					font-family:$header-font-family;
					font-weight:400;
					margin-left:10px;
					padding-left:10px;
					text-decoration:underline;
				}
			}
			.phone_numbers {
				margin:0 0 5px 0;
				.phone_number {
					&:not(:first-of-type) {
						display:block;
						@media #{$md-up} {
							display:inline-block;
							&::before {
								color:$secondary-color-40;
								content:'|';
								padding:0 5px;
							}
						}
					}
					a {
						color:$secondary-color;
						font-family:$header-font-family;
						font-weight:400;
						text-decoration: underline;
					}
				}
			}
			.fa {
				color:$alt-accent-color;
				margin-right:5px;
			}
		}
		.cta-directions {
			align-items:center;
			display:flex;
			flex-direction:column;
			flex-shrink:0;
			justify-content:center;
			padding:40px 0;
			text-align:center;
			width:100%;
			@media #{$md_up} {
				width:25%;
			}
		}
	}
	.button {
		margin: 0;
	}

	.ctas {
		display: block;

		@media #{$sm-up}{
			display: flex;
			justify-content: space-between;
			flex-direction: row;
		}
	
		p {
			margin-bottom: 0;
		}
		
		.directions {
			margin-bottom: 10px;
			@media #{$sm-up}{
				margin-bottom: 0;
			}
		}
	}
}

.sc-module-margintop { 
	@media #{$md-up}{
		margin-top: 40px;
	}
	border-top: solid 2px #EAEAEB;
}