
// Social Feed
// -----------------------------------------------------------------------------

.sc-module-social-feed {
  margin: 0 0 70px 0;
  .title {
    text-align: center;
    @media #{$md-up} {
      text-align: left;
    }
  }
  .inner {
    border: 5px solid $tab-label-background-color;
    min-height: 450px;
  }
  .sections {
    height: 100%;
  }
  .section-labels {
    @include clearfix;
    display: flex;
    margin: -5px -5px 0 -5px;
    position: relative;
    padding: 0;
    list-style: none;
  }
  .section-label {
    background: $tab-label-selected-background-color;
    cursor: default;
    display: block;
    flex-grow: 1;
    float: left;
    margin: 0;
    padding: 0;
    a {
      align-items: center;
      color: $tab-label-selected-font-color;
      font-family: $header-font-family;
      font-weight: 400;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 20px 10px;
      text-decoration: none;
      text-shadow: .5px 0 0 $primary-color, -.5px 0 0 $primary-color;
      width: 100%;
      @include ps-letter-tracking(30);
      &:hover {
        text-decoration: underline;
      }
      @media #{$md-only} {
        padding: 20px 5px;
      }
    }
    &[data-active='no'] {
      background:$tab-label-background-color;
      cursor:pointer;
      a {
        color: $tab-label-font-color;
        font-weight: 400;
        text-shadow: none;
      }
    }
  }
  .section-panels {
    height:calc(100% - 60px);
  }
  .section-panel {
    border:0;
    display:none;
    height:100%;
    overflow:auto;
    padding:20px;
    &[data-active='yes'] {
      display:block;
    }
  }
}

// Custom Facebook Feed
// -----------------------------------------------------------------------------

#cff .cff-author a,
#cff-lightbox-wrapper .cff-author a {
  font-family: $header-font-family;
  font-size: 16px;
  @include ps-letter-tracking(30);
  line-height: 24px;
  &:hover {
    text-decoration: underline;
  }
}

#cff .cff-author .cff-date,
#cff-lightbox-wrapper .cff-author .cff-date{
  color: $secondary-color;
  font-size: 12px;
}

#cff .cff-view-comments,
#cff-lightbox-wrapper .cff-view-comments{
  background: $tab-label-background-color;
  color: $tab-label-font-color;
  &:hover {
    background: $tab-label-selected-background-color;
    color: $tab-label-selected-font-color;
  }
}

#cff .cff-post-links a {
  font-size: 12px;
}

.section-panel-link {
  a {
    display: block;
    margin-top: 20px;
    color: #056672;
    display: inline-block;
    font-family: "Encode Sans","Open Sans",helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .035em;
    line-height: 14px;
    position: relative;
    text-transform: uppercase;
  }
}
