
// Search Form
// -----------------------------------------------------------------------------

.search-form {
  display: flex;
  margin: 0 0 40px 0;
  width: 100%;
  &-input {
    border: 1px solid $secondary-color-40;
    border-right: 0;
    flex-grow: 1;
    line-height: 100%;
    padding: 0 10px;
  }
  &-button {
    background: $button-background-color; 
    border: 0;
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: center;
    outline: 0;
    width: 48px;
    path {
      fill: $button-font-color;
    }
  }
}

body.search .post {
  &-title,
  &-excerpt {
    .relevanssi-query-term {
      background: rgba(yellow, .5);
    }
  }
}
