
.sc-module-browser-column {
	display:inline-block;
}

.sc-module-browser-column span {
	background:#f4f4f4;
	border:1px solid #dfdfdf;
	color:#999;
	display:block;
	font-size:12px;
	line-height:22px;
	margin:3px;
	text-align:center;
}

.sc-module-browser-column:hover span {
	background:#eee;
	border:1px solid #ccc;
	cursor:pointer;
}

.sc-module-browser-column-1 {
	width:8.33333333%;
}

.sc-module-browser-column-2 {
	width:16.66666667%;
}

.sc-module-browser-column-3 {
	width:25%;
}

.sc-module-browser-column-4 {
	width:33.33333333%;
}

.sc-module-browser-column-5 {
	width:41.66666667%;
}

.sc-module-browser-column-6 {
	width:50%;
}

.sc-module-browser-column-7 {
	width:58.33333333%;
}

.sc-module-browser-column-8 {
	width:66.66666667%;
}

.sc-module-browser-column-9 {
	width:75%;
}

.sc-module-browser-column-10 {
	width:83.33333333%;
}

.sc-module-browser-column-11 {
	width:91.66666667%;
}

.sc-module-browser-column-12 {
	width:100%;
}
